In [227]:
import json
import pandas as pd
import numpy as np

In [3]:
def open_json(filename):
    with open(filename,'r') as f:
        data = json.load(f)
    return data

In [318]:
all_basic_data = pd.read_json('../basic_partial.json')
details_df = pd.read_json('../specific_1482000.json', orient='records')
decisions_df = pd.read_json('../decisions_partial.json')

print all_basic_data.describe()
print details_df.describe()
print decisions_df.describe()

                 id       latitude      longitude
count  4.171490e+05  417149.000000  417149.000000
mean   4.052482e+05  38.749097     -98.682344
std    3.709479e+05  6.081452       16.982633
min    1.000000e+00  7.000000      -177.000000
25%    1.460910e+05  34.000000     -112.000000
50%    2.910140e+05  39.000000     -95.000000
75%    4.521340e+05  43.000000     -88.000000
max    1.481999e+06  71.000000      171.000000
        ANNUAL_INCOME        HEIGHT  OPTIONAL_INSURED  PEOPLE_COVERED  \
count  22029.000000    22029.000000  22029.000000      22029.000000
mean   241359.117527   63.916201     703086.840074     1.895592
std    184574.917878   6.956176      142745.730275     1.040576
min    100000.000000   50.000000     500000.000000     1.000000
25%    100000.000000   60.000000     600000.000000     1.000000
50%    200000.000000   64.000000     700000.000000     1.000000
75%    300000.000000   68.000000     800000.000000     3.000000
max    1000000.000000  80.000000     1000000.000000    4.000000

             WEIGHT             id
count  22029.000000  22029.000000
mean   166.162695    129908.000000
std    48.078924     6359.368876
min    100.000000    118894.000000
25%    127.000000    124401.000000
50%    159.000000    129908.000000
75%    193.000000    135415.000000
max    299.000000    140922.000000
              BRONZE           GOLD       PLATINUM         SILVER  \
count  360653.000000  360653.000000  360653.000000  360653.000000
mean   57.996759      151.316376     225.972070     95.324606
std    16.410558      42.539314      65.403851      26.066217
min    20.000000      70.000000      110.000000     40.000000
25%    45.000000      121.000000     180.000000     76.000000
50%    56.000000      137.000000     201.000000     89.000000
75%    70.000000      177.000000     259.000000     113.000000
max    136.000000     286.000000     406.000000     196.000000

                 id
count  3.606530e+05
mean   6.312162e+05
std    3.329092e+05
min    4.000000e+00
25%    4.356450e+05
50%    5.640740e+05
75%    7.947420e+05
max    1.482000e+06

In [126]:
basic_df = pd.DataFrame(all_basic_data)

In [127]:
basic_df.describe()

            latitude      longitude
count  417149.000000  417149.000000
mean       38.749097     -98.682344
std         6.081452      16.982633
min         7.000000    -177.000000
25%        34.000000    -112.000000
50%        39.000000     -95.000000
75%        43.000000     -88.000000
max        71.000000     171.000000

In [11]:
basic_df['state'].unique()

array([u'Alaska', u'Arizona', u'California', u'Colorado',
       u'District of Columbia', nan, u'Hawaii', u'Iowa', u'Idaho',
       u'Minnesota', u'Montana', u'North Dakota', u'New Mexico', u'Nevada',
       u'Oregon', u'South Dakota', u'Texas', u'Utah', u'Washington',
       u'Wisconsin', u'Wyoming', u'Alabama', u'Arkansas', u'Florida',
       u'Georgia', u'Illinois', u'Kansas', u'Louisiana', u'Missouri',
       u'Mississippi', u'Nebraska', u'Oklahoma', u'Tennessee',
       u'New Jersey', u'New York', u'Ohio', u'Pennsylvania',
       u'Rhode Island', u'South Carolina', u'Virginia', u'Vermont',
       u'West Virginia', u'Connecticut', u'Delaware', u'Indiana',
       u'Kentucky', u'Massachusetts', u'Maryland', u'Maine', u'Michigan',
       u'North Carolina', u'New Hampshire'], dtype=object)

In [12]:
len(all_basic_data_list)

417149

In [13]:
basic_df['state'].describe()

count         416968
unique            51
top       California
freq           50166
Name: state, dtype: object

In [14]:
basic_df['state'].value_counts()

California              50166
Texas                   27059
Iowa                    20366
Minnesota               19188
Illinois                17007
Florida                 16842
Wisconsin               16740
Washington              13390
Missouri                13283
Colorado                12536
Georgia                 10303
Arizona                 10140
Oregon                   8901
Alabama                  8874
Kansas                   8535
Louisiana                8292
Oklahoma                 8187
Tennessee                8131
New York                 8039
Arkansas                 7952
Montana                  7858
New Mexico               7829
North Dakota             7681
South Dakota             7195
Pennsylvania             7173
Nebraska                 6695
Utah                     6464
Idaho                    6219
Mississippi              5775
Ohio                     5334
Alaska                   5265
Nevada                   4688
Indiana                  4123
Virginia                 4024
Wyoming                  3642
Michigan                 3556
West Virginia            3505
Kentucky                 3443
North Carolina           3260
Hawaii                   2618
Massachusetts            2581
New Jersey               2462
Maryland                 2239
Connecticut              1928
Maine                    1816
South Carolina           1666
District of Columbia     1282
Vermont                  1135
New Hampshire             849
Delaware                  436
Rhode Island              296
Name: state, dtype: int64

In [16]:
decisions_df.describe()

,BRONZE,GOLD,PLATINUM,SILVER,id
count,360653.000000,360653.000000,360653.000000,360653.000000,3.606530e+05
mean,57.996759,151.316376,225.972070,95.324606,6.312162e+05
std,16.410558,42.539314,65.403851,26.066217,3.329092e+05
min,20.000000,70.000000,110.000000,40.000000,4.000000e+00
25%,45.000000,121.000000,180.000000,76.000000,4.356450e+05
50%,56.000000,137.000000,201.000000,89.000000,5.640740e+05
75%,70.000000,177.000000,259.000000,113.000000,7.947420e+05
max,136.000000,286.000000,406.000000,196.000000,1.482000e+06

In [17]:
decisions_df

        BRONZE  GOLD  PLATINUM PURCHASED  SILVER collection_id       id
0           67   187       283    Silver     115      v_quotes   912064
1           56   151       227    Silver      94      v_quotes   762522
2           78   228       348    Silver     138      v_quotes  1196870
3           81   221       333    Silver     137      v_quotes  1343385
4           76   171       247    Silver     114      v_quotes   706684
5           47   102       146    Silver      69      v_quotes    27846
6           33    98       150    Silver      59      v_quotes   133968
7           32    97       149    Silver      58      v_quotes   601707
8           76   161       229    Silver     110      v_quotes   437776
9           80   230       350    Silver     140      v_quotes  1163794
10          75   225       345    Silver     135      v_quotes  1095202
11          78   228       348    Silver     138      v_quotes  1083496
12          76   216       328    Silver     132      v_quotes  1438332
13          79   219       331    Silver     135      v_quotes  1135280
14          61   126       178    Silver      87      v_quotes    84754
15          49   114       166    Silver      75      v_quotes   179881
16          85   235       355    Silver     145      v_quotes  1024021
17          51   126       186    Silver      81      v_quotes   429696
18          75   225       345    Silver     135      v_quotes  1203130
19          65   215       335    Silver     125      v_quotes  1056300
20          56   151       227    Silver      94      v_quotes   730306
21         100   250       370    Silver     160      v_quotes  1379022
22          76   216       328    Silver     132      v_quotes  1017439
23          39   114       174    Silver      69      v_quotes   637013
24          85   235       355    Silver     145      v_quotes  1091398
25          66   151       219    Silver     100      v_quotes   651310
26          66   151       219    Silver     100      v_quotes   357422
27          38   103       155    Silver      64      v_quotes   161393
28          80   200       296    Silver     128      v_quotes   899146
29          93   243       363    Silver     153      v_quotes  1428038
...        ...   ...       ...       ...     ...           ...      ...
360623      41   116       176    Silver      71      v_quotes   657741
360624      55   130       190    Silver      85      v_quotes   657742
360625      59   134       194    Silver      89      v_quotes   657745
360626      39   114       174      Gold      69      v_quotes   657746
360627      75   150       210    Silver     105      v_quotes   657747
360628      43   128       196    Silver      77      v_quotes   657749
360629      41   116       176    Bronze      71      v_quotes   657752
360630      52   117       169    Silver      78      v_quotes   657753
360631      76   161       229    Silver     110      v_quotes   657757
360632      55   130       190    Bronze      85      v_quotes   657759
360633      39   114       174    Silver      69      v_quotes   657764
360634      47   112       164    Bronze      73      v_quotes   657765
360635      62   137       197    Silver      92      v_quotes   657767
360636      80   165       233    Bronze     114      v_quotes   657770
360637      96   181       249      Gold     130      v_quotes   657771
360638      52   117       169      Gold      78      v_quotes   657775
360639      62   137       197    Bronze      92      v_quotes   657776
360640      41   116       176    Bronze      71      v_quotes   657778
360641      46   121       181    Bronze      76      v_quotes   657781
360642      86   171       239      Gold     120      v_quotes   657782
360643      36   111       171      Gold      66      v_quotes   657783
360644      44   119       179    Bronze      74      v_quotes   657784
360645      56   131       191    Bronze      86      v_quotes   657786
360646      61   146       214    Silver      95      v_quotes   657788
360647      41   116       176    Silver      71      v_quotes   657789
360648      52   127       187    Bronze      82      v_quotes   657791
360649      41   116       176    Bronze      71      v_quotes   657792
360650      59   134       194    Silver      89      v_quotes   657793
360651      46   121       181    Silver      76      v_quotes   657795
360652      36   111       171    Silver      66      v_quotes   657796

[360653 rows x 7 columns]

In [18]:
decisions_df['id'] = decisions_df['id'].astype(str)

In [19]:
basic_df.dtypes

DOB              object
address          object
city             object
collection_id    object
email            object
id               object
latitude          int64
longitude         int64
name             object
sex              object
state            object
dtype: object

In [20]:
decisions_df.dtypes

BRONZE            int64
GOLD              int64
PLATINUM          int64
PURCHASED        object
SILVER            int64
collection_id    object
id               object
dtype: object

In [21]:
joined_bd_df = basic_df.merge(decisions_df, on='id')

In [22]:
joined_bd_df.describe()

,latitude,longitude,BRONZE,GOLD,PLATINUM,SILVER
count,92882.000000,92882.000000,92882.000000,92882.000000,92882.000000,92882.000000
mean,37.193062,-96.371267,52.399195,132.752546,197.035227,84.540535
std,5.908181,14.832005,15.515253,34.936826,52.542108,22.508499
min,7.000000,-177.000000,22.000000,72.000000,112.000000,42.000000
25%,33.000000,-101.000000,41.000000,112.000000,170.000000,71.000000
50%,37.000000,-94.000000,51.000000,127.000000,190.000000,81.000000
75%,41.000000,-88.000000,62.000000,142.000000,209.000000,95.000000
max,71.000000,171.000000,126.000000,276.000000,396.000000,186.000000

In [23]:
joined_bd_df

,DOB,address,city,collection_id_x,email,id,latitude,longitude,name,sex,state,BRONZE,GOLD,PLATINUM,PURCHASED,SILVER,collection_id_y
0,1999-11-08T22:11:38Z,6200 E CANYON RIM RD #110D,King Cove,V_Participant,NaN,1321,55,-162,"SUGITA,LLOYD R",F,Alaska,27,77,117,Silver,47,v_quotes
1,1994-01-08T22:11:38Z,1526 LINCOLN ST,Nikolski,V_Participant,NaN,1326,53,-169,"DAMACION,TAL",M,Alaska,27,82,126,Silver,49,v_quotes
2,1997-11-08T22:11:38Z,3624 RONK WY,Anchorage,V_Participant,NaN,1340,61,-150,"HANEEF,KASIE R",M,Alaska,22,72,112,Gold,42,v_quotes
3,1997-06-08T22:11:38Z,3440 MARGARET D,Anchorage,V_Participant,NaN,1343,61,-150,"LEICHLITER,ZIA",F,Alaska,22,72,112,Silver,42,v_quotes
4,1997-06-08T22:11:38Z,100 FOWLER AVE #158,Kongiganak,V_Participant,NaN,1361,60,-163,"BUSENHART,LONIEL M",F,Alaska,32,82,122,Gold,52,v_quotes
5,1996-09-08T22:11:38Z,240 EDITH AVE #134,Kwigillingok,V_Participant,NaN,1374,60,-163,"JABOBS,ANNYSIA",M,Alaska,34,89,133,Silver,56,v_quotes
6,1996-06-08T22:11:38Z,2824 VIA DEL CABBALLO,Tuntutuliak,V_Participant,NaN,1385,60,-163,"ELISARRARAZ,DORALY DORIS",F,Alaska,32,87,131,Silver,54,v_quotes
7,1998-01-08T22:11:38Z,903 E DEVONSHIRE AVE #F,Clear,V_Participant,NaN,1391,64,-149,"WHITE, STEVEN,CHU YING K",F,Alaska,30,80,120,Silver,50,v_quotes
8,1995-12-08T22:11:38Z,521 CHINOOK LANE,Anderson,V_Participant,NaN,1394,64,-149,"MENSINGER,SHARANDA A",M,Alaska,34,89,133,Silver,56,v_quotes
9,1996-09-08T22:11:38Z,2311 IVY HILL WAY APT 412,Aleknagik,V_Participant,NaN,1396,59,-159,"PINTENS,NEAL K",M,Alaska,24,79,123,Silver,46,v_quotes
10,1994-01-08T22:11:38Z,4151 MIDDLEFIELD #111,Fairbanks,V_Participant,STEPHENABDMARIE@YAHOO.COM,1412,65,-148,"RAAB,SHANORIA",M,Alaska,24,79,123,Gold,46,v_quotes
11,1997-12-08T22:11:38Z,"1 MERCADO STREET, SUITE 202",Juneau,V_Participant,marcelleplymer@att.net,1427,58,-134,"POTEETE,DYANNE",F,Alaska,32,82,122,Silver,52,v_quotes
12,1994-03-08T22:11:38Z,2630 ORCHARD ST SPACE 31,Hooper Bay,V_Participant,NaN,1458,62,-166,"BEARCE,DARRIELLE A",M,Alaska,32,87,131,Silver,54,v_quotes
13,1997-02-08T22:11:38Z,880 CASS ST #108,Skwentna,V_Participant,NaN,1483,62,-151,"RENFROW,POHAI C",F,Alaska,52,102,142,Silver,72,v_quotes
14,1993-04-08T22:11:38Z,P O BOX 3279,Houston,V_Participant,NaN,1489,62,-150,"PATSEL,ANA (SANDY) L",F,Alaska,32,87,131,Silver,54,v_quotes
15,1996-01-08T22:11:38Z,172 HOME WOOD AVE,Unalakleet,V_Participant,NaN,1492,64,-161,"CALLAS,TEDDREKA R",M,Alaska,29,84,128,Gold,51,v_quotes
16,1993-06-08T22:11:38Z,1509 FOXHOLLOW LN,Koyuk,V_Participant,ALFORD_DANIEL@HOTMAIL.COM,1495,65,-161,"TIEMAN,ISALA",F,Alaska,34,89,133,Silver,56,v_quotes
17,1994-01-08T22:11:38Z,3265 CIRCLE CT WEST,Noatak,V_Participant,NaN,1519,68,-163,"HOLNESS,ANGELLISA L",F,Alaska,29,84,128,Silver,51,v_quotes
18,1994-05-08T22:11:38Z,P.O. BOX 292068,Gustavus,V_Participant,NaN,1537,58,-136,"SHIMANE,MARGAUX A",F,Alaska,39,94,138,Gold,61,v_quotes
19,1996-12-08T22:11:38Z,3773 CHERRY CRK N. #735,Pelican,V_Participant,NaN,1539,58,-136,"KONTAXAKIS,NATISHA L",F,Alaska,37,87,127,Silver,57,v_quotes
20,1999-08-08T22:11:38Z,22144 CLARENDON ST #300,Chitina,V_Participant,NaN,1549,61,-145,"SHABAZZ-TERRY,MAHYAR O",F,Alaska,32,82,122,Silver,52,v_quotes
21,1997-12-08T22:11:38Z,1306 C STREET #1,Copper Center,V_Participant,LGRONINGER@COMCAST.NET,1550,62,-145,"RATZAK,MANDEEP C",M,Alaska,22,72,112,Silver,42,v_quotes
22,1993-02-08T22:11:38Z,1860 HAYES STREET,Gakona,V_Participant,LGRONINGER@COMCAST.NET,1552,63,-144,"RORSCHACH,NIKY J",M,Alaska,47,102,146,Silver,69,v_quotes
23,1999-06-08T22:11:38Z,5465 SANTA MONICA BLVD #106,Glennallen,V_Participant,NaN,1553,62,-146,"BUNYEA,KACI S",F,Alaska,25,75,115,Gold,45,v_quotes
24,1997-12-08T22:11:38Z,"687 GRIZZLY PEAK BLVD,AVE #8",Tatitlek,V_Participant,NaN,1554,61,-147,"WICKS JR,SHANAL W",M,Alaska,27,77,117,Gold,47,v_quotes
25,1999-09-08T22:11:38Z,1231 ROSE AVE,Kaltag,V_Participant,NaN,1578,64,-159,"WEHRLE,IMUA D",M,Alaska,22,72,112,Silver,42,v_quotes
26,1996-02-08T22:11:38Z,1630 S COMMERCE ST #A1,Springerville,V_Participant,NaN,1598,34,-109,"DRIGGS,IRINA",M,Arizona,32,87,131,Silver,54,v_quotes
27,1996-11-08T22:11:38Z,1674 DORCHESTER,Chambers,V_Participant,NaN,1601,35,-110,"HAKE,ANDRAE J",F,Arizona,34,89,133,Gold,56,v_quotes
28,1995-06-08T22:11:38Z,552 E GLENN #33,Ganado,V_Participant,NaN,1604,36,-110,"MASER JR,KYLIA M",M,Arizona,24,79,123,Gold,46,v_quotes
29,1998-11-08T22:11:38Z,2220 SO. BASCOM AVE.,Lupton,V_Participant,NaN,1607,35,-109,"JOHNSON, JOHAN,TORIE L",F,Arizona,22,72,112,Silver,42,v_quotes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92852,1980-02-08T22:11:38Z,4737 PARKER ST,Deerfield,V_Participant,NaN,397349,38,-95,"HOSOBUCHI,CHARMENACA L",F,Missouri,50,135,203,Bronze,84,v_quotes
92853,1978-03-08T22:11:38Z,6619 SHATTUCK A,Metz,V_Participant,NaN,397351,38,-94,"WYDEVEN,CHELLSEA A",F,Missouri,43,128,196,Gold,77,v_quotes
92854,1981-08-08T22:11:38Z,7536 ELIZABETH,Moundville,V_Participant,NaN,397353,38,-94,"BOCKMAN,KAIRO",F,Missouri,61,146,214,Silver,95,v_quotes
92855,1986-06-08T22:11:38Z,137 LORTON AVE APT 6,Nevada,V_Participant,NaN,397354,38,-94,"QUESENBERRY,JEWELEAN",M,Missouri,66,141,201,Silver,96,v_quotes
92856,1987-05-08T22:11:38Z,"1200 LAKESHORE AVENUE, SUITE 18C",Richards,V_Participant,NaN,397355,38,-95,"RAMBUR,TIARRA A",F,Missouri,56,121,173,Gold,82,v_quotes
92857,1984-10-08T22:11:38Z,221 HAYES CIRCLE,Schell City,V_Participant,NaN,397356,38,-94,"JACQUILLARD,CALUNDRA S",M,Missouri,82,157,217,Silver,112,v_quotes
92858,1984-09-08T22:11:38Z,1600 NW 6TH STREET,Sheldon,V_Participant,NaN,397357,38,-94,"CARTERS,DYAN W",F,Missouri,62,137,197,Bronze,92,v_quotes
92859,1978-08-08T22:11:38Z,230 E.DUNNE AVE. APT#414,Marthasville,V_Participant,NaN,397360,39,-91,"SECRETO,PEIGHTEN",M,Missouri,40,125,193,Bronze,74,v_quotes
92860,1987-03-08T22:11:38Z,5200 CASCADE ROAD SE,Truesdale,V_Participant,NaN,397362,39,-91,"KIRSTEINS,MAYTE M",M,Missouri,32,97,149,Silver,58,v_quotes
92861,1982-10-08T22:11:38Z,552 SILVA AVENUE,Warrenton,V_Participant,NaN,397363,39,-91,"STANFILL,MOLLEIGH A",F,Missouri,51,126,186,Silver,81,v_quotes
92862,1979-12-08T22:11:38Z,P O BOX 8761,Caledonia,V_Participant,NaN,397368,38,-91,"ZIRSCHKY,SAMANTHA RAE C",M,Missouri,60,145,213,Gold,94,v_quotes
92863,1980-05-08T22:11:38Z,"2001 PINER ROAD, APT 102",Irondale,V_Participant,NaN,397369,38,-91,"ROSDAIL,LEALO FITAUTE M",F,Missouri,70,155,223,Silver,104,v_quotes
92864,1986-06-08T22:11:38Z,7977 PARK DRIVE,Tiff,V_Participant,NaN,397372,38,-91,"VILLARICO,CASSANDA",M,Missouri,51,126,186,Silver,81,v_quotes
92865,1983-01-08T22:11:38Z,33955 JULIET CIR.,Cascade,V_Participant,NaN,397373,37,-90,"ALBAR-JEN,KATSUKO",F,Missouri,59,134,194,Platinum,89,v_quotes
92866,1985-09-08T22:11:38Z,"1143 NW 64TH TERR, DIV 1",Lowndes,V_Participant,NaN,397378,37,-90,"SPICUGLIA,LESLEY ANNE M",M,Missouri,62,137,197,Gold,92,v_quotes
92867,1986-05-08T22:11:38Z,745 DAVIS ST #B,Diggins,V_Participant,NaN,397385,37,-93,"ESPLANA,AUSHLEY C",F,Missouri,67,142,202,Gold,97,v_quotes
92868,1979-08-08T22:11:38Z,901 CAMPUS DR STE 112,Elkland,V_Participant,NaN,397386,37,-93,"HULEN,SHANEA",M,Missouri,50,135,203,Platinum,84,v_quotes
92869,1985-05-08T22:11:38Z,1108 WEST TOKAY STREET,Fordland,V_Participant,NaN,397387,37,-93,"TELLES JR,M.MICHELE I",F,Missouri,56,131,191,Gold,86,v_quotes
92870,1979-06-08T22:11:38Z,780 GUERRERE ST #10,Marshfield,V_Participant,NaN,397388,37,-93,"PRESNAR JR,HUIZHEN J",M,Missouri,66,151,219,Silver,100,v_quotes
92871,1981-05-08T22:11:38Z,2836 MERLE AVEN,Niangua,V_Participant,NaN,397389,37,-93,"WILLNER,LUZ-PILAR",F,Missouri,55,140,208,Gold,89,v_quotes
92872,1982-01-08T22:11:38Z,9118 N WEST LANE,Denver,V_Participant,NaN,397393,40,-94,"BAMBRICK,LA LONNIE A",F,Missouri,62,137,197,Gold,92,v_quotes
92873,1981-03-08T22:11:38Z,111 VIA TERESA,Grant City,V_Participant,NaN,397394,40,-94,"MANSOUR,MILA VILLA",M,Missouri,48,133,201,Gold,82,v_quotes
92874,1987-04-08T22:11:38Z,6929 BISMARCK DRIVE,Sheridan,V_Participant,NaN,397395,40,-95,"HATHCOCK,YESINA",F,Missouri,32,97,149,Bronze,58,v_quotes
92875,1979-05-08T22:11:38Z,6394 E SANTA ANA CYN RD,Graff,V_Participant,NaN,397397,37,-92,"WURTS,JANADA",F,Missouri,43,128,196,Silver,77,v_quotes
92876,1985-11-08T22:11:38Z,237 VEGA ROAD,Hartville,V_Participant,NaN,397399,37,-93,"FARRAY,SANCHITA",F,Missouri,52,127,187,Silver,82,v_quotes
92877,1978-09-08T22:11:38Z,77 BAYLOR LANE,Mansfield,V_Participant,NaN,397401,37,-93,"ROJAS MIRANDA,MAYKAYLA",F,Missouri,50,135,203,Gold,84,v_quotes
92878,1979-07-08T22:11:38Z,641 NELLO DR #2,Norwood,V_Participant,NaN,397403,37,-92,"MALFA,CLELID L",F,Missouri,56,141,209,Silver,90,v_quotes
92879,1983-01-08T22:11:38Z,4303 N EMERSON ST,Saint Louis,V_Participant,NaN,397405,39,-90,"FISHER-GILL,SILVERIA",F,Missouri,36,111,171,Silver,66,v_quotes
92880,1983-02-08T22:11:38Z,218 PENNSYLVANIA AVE,Saint Louis,V_Participant,NaN,397406,39,-90,"TANNE,CHAIZ",M,Missouri,67,142,202,Silver,97,v_quotes
92881,1986-01-08T22:11:38Z,1260 ROMO DRIVE,Saint Louis,V_Participant,NaN,397411,39,-90,"DRING,JODEEN",F,Missouri,72,147,207,Silver,102,v_quotes

In [24]:
len(joined_bd_df)

92882

In [25]:
joined_bd_df['state'].value_counts()

Texas                   10410
California               7474
Florida                  6145
Illinois                 5568
Missouri                 5032
Georgia                  3605
Alabama                  3484
Oklahoma                 3212
Kansas                   3176
Tennessee                3154
Louisiana                3051
Iowa                     3037
Minnesota                2850
Arkansas                 2725
Nebraska                 2464
Wisconsin                2462
Washington               2020
Mississippi              1956
Colorado                 1789
Arizona                  1491
Oregon                   1301
New Mexico               1184
Montana                  1158
North Dakota             1125
New York                 1084
South Dakota             1082
Utah                      984
Idaho                     965
Pennsylvania              942
Alaska                    754
Nevada                    708
Ohio                      688
Wyoming                   551
Virginia                  532
Indiana                   508
West Virginia             460
Michigan                  446
Kentucky                  413
North Carolina            413
Hawaii                    384
Massachusetts             335
New Jersey                292
Maryland                  279
Connecticut               234
Maine                     229
South Carolina            205
Vermont                   151
District of Columbia      139
New Hampshire             106
Delaware                   57
Rhode Island               31
Name: state, dtype: int64

In [26]:
joined_bd_df['PURCHASED'].value_counts()

Silver      56954
Gold        24155
Bronze       8856
Platinum     2917
Name: PURCHASED, dtype: int64

Format of data:

`data = {
    "TX":{
        "p_cnt":12,
        "g_cnt":23,
        "s_cnt":45,
        "b_cnt":21
        }
     }`

In [27]:
bd_json = joined_bd_df.to_json(orient='records')

In [68]:
joined_bd_df.head(10)

,DOB,address,city,collection_id_x,email,id,latitude,longitude,name,sex,state,BRONZE,GOLD,PLATINUM,PURCHASED,SILVER,collection_id_y,decade,lat
0,1999-11-08T22:11:38Z,6200 E CANYON RIM RD #110D,King Cove,V_Participant,NaN,1321,55,-162,"SUGITA,LLOYD R",F,Alaska,27,77,117,Silver,47,v_quotes,199,55
1,1994-01-08T22:11:38Z,1526 LINCOLN ST,Nikolski,V_Participant,NaN,1326,53,-169,"DAMACION,TAL",M,Alaska,27,82,126,Silver,49,v_quotes,199,55
2,1997-11-08T22:11:38Z,3624 RONK WY,Anchorage,V_Participant,NaN,1340,61,-150,"HANEEF,KASIE R",M,Alaska,22,72,112,Gold,42,v_quotes,199,60
3,1997-06-08T22:11:38Z,3440 MARGARET D,Anchorage,V_Participant,NaN,1343,61,-150,"LEICHLITER,ZIA",F,Alaska,22,72,112,Silver,42,v_quotes,199,60
4,1997-06-08T22:11:38Z,100 FOWLER AVE #158,Kongiganak,V_Participant,NaN,1361,60,-163,"BUSENHART,LONIEL M",F,Alaska,32,82,122,Gold,52,v_quotes,199,60
5,1996-09-08T22:11:38Z,240 EDITH AVE #134,Kwigillingok,V_Participant,NaN,1374,60,-163,"JABOBS,ANNYSIA",M,Alaska,34,89,133,Silver,56,v_quotes,199,60
6,1996-06-08T22:11:38Z,2824 VIA DEL CABBALLO,Tuntutuliak,V_Participant,NaN,1385,60,-163,"ELISARRARAZ,DORALY DORIS",F,Alaska,32,87,131,Silver,54,v_quotes,199,60
7,1998-01-08T22:11:38Z,903 E DEVONSHIRE AVE #F,Clear,V_Participant,NaN,1391,64,-149,"WHITE, STEVEN,CHU YING K",F,Alaska,30,80,120,Silver,50,v_quotes,199,65
8,1995-12-08T22:11:38Z,521 CHINOOK LANE,Anderson,V_Participant,NaN,1394,64,-149,"MENSINGER,SHARANDA A",M,Alaska,34,89,133,Silver,56,v_quotes,199,65
9,1996-09-08T22:11:38Z,2311 IVY HILL WAY APT 412,Aleknagik,V_Participant,NaN,1396,59,-159,"PINTENS,NEAL K",M,Alaska,24,79,123,Silver,46,v_quotes,199,60

In [292]:

details_df['id'] = details_df['id'].astype(str)
full_data = joined_bd_df.merge(details_df, on='id')
pd.set_option('display.max_columns', 29)
pd.set_option('display.max_colwidth', -1)
full_data.head(10)

,DOB,address,city,collection_id_x,email,id,latitude,longitude,name,sex,state,BRONZE,GOLD,PLATINUM,PURCHASED,SILVER,collection_id_y,decade,lat,ANNUAL_INCOME,EMPLOYMENT_STATUS,HEIGHT,MARITAL_STATUS,OPTIONAL_INSURED,PEOPLE_COVERED,PRE_CONDITIONS,TOBACCO,WEIGHT,collection_id
0,1991-01-08T22:11:38Z,6233 MONTECITO BLVD,Farwell,V_Participant,NaN,149579,46,-96,"DOWDELL,LANSON",F,Minnesota,54,119,171,Silver,80,v_quotes,199,45,100000,Unemployed,62,S,800000,1,"[{""condition_name"":""Chronic viral hepatitis B without delta-agent"",""ICD_CODE"":""B18.1"",""Risk_factor"":""Medium""},{""condition_name"":""Ataxic cerebral palsy"",""ICD_CODE"":""G80.4"",""Risk_factor"":""Medium""},{""condition_name"":""Diarrhea, unspecified"",""ICD_CODE"":""R19.7"",""Risk_factor"":""Low""},{""condition_name"":""Tachycardia, unspecified"",""ICD_CODE"":""R00.0"",""Risk_factor"":""Low""},{""condition_name"":""Obstructive Sleep Apnea"",""ICD_CODE"":""G47.33"",""Risk_factor"":""Low""},{""condition_name"":""Unspecified fracture of specified metacarpal bone with unspecified laterality"",""ICD_CODE"":""S62.308"",""Risk_factor"":""Low""},{""condition_name"":""Other abnormalities of heart beat"",""ICD_CODE"":""R00.8"",""Risk_factor"":""Low""},{""condition_name"":""Type 2 diabetes mellitus with hyperglycemia"",""ICD_CODE"":""E11.65"",""Risk_factor"":""Medium""},{""condition_name"":""HIV disease resulting in other bacterial infections"",""ICD_CODE"":""B20.1"",""Risk_factor"":""High""},{""condition_name"":""cough with hemorrhage"",""ICD_CODE"":""R04.2"",""Risk_factor"":""Low""}]",Yes,240,V_Participant_detail
1,1989-09-08T22:11:38Z,104 ESPLANADE #134,Saint Paul,V_Participant,NaN,149585,45,-93,"PORCH,XI TERRY",F,Minnesota,41,106,158,Gold,67,v_quotes,198,45,100000,Unemployed,67,M,600000,4,NaN,No,195,V_Participant_detail
2,1991-08-08T22:11:38Z,3409 WORTH #400 SAMMONS TOWER,Saint Paul,V_Participant,NaN,149595,45,-93,"FROLES,TIMON",F,Minnesota,53,118,170,Silver,79,v_quotes,199,45,100000,Unemployed,76,S,800000,3,"[{""condition_name"":""Chronic viral hepatitis B without delta-agent"",""ICD_CODE"":""B18.1"",""Risk_factor"":""Medium""},{""condition_name"":""Ataxic cerebral palsy"",""ICD_CODE"":""G80.4"",""Risk_factor"":""Medium""},{""condition_name"":""Diarrhea, unspecified"",""ICD_CODE"":""R19.7"",""Risk_factor"":""Low""},{""condition_name"":""Tachycardia, unspecified"",""ICD_CODE"":""R00.0"",""Risk_factor"":""Low""},{""condition_name"":""Obstructive Sleep Apnea"",""ICD_CODE"":""G47.33"",""Risk_factor"":""Low""},{""condition_name"":""Unspecified fracture of specified metacarpal bone with unspecified laterality"",""ICD_CODE"":""S62.308"",""Risk_factor"":""Low""},{""condition_name"":""Other abnormalities of heart beat"",""ICD_CODE"":""R00.8"",""Risk_factor"":""Low""},{""condition_name"":""Type 2 diabetes mellitus with hyperglycemia"",""ICD_CODE"":""E11.65"",""Risk_factor"":""Medium""},{""condition_name"":""HIV disease resulting in other bacterial infections"",""ICD_CODE"":""B20.1"",""Risk_factor"":""High""},{""condition_name"":""cough with hemorrhage"",""ICD_CODE"":""R04.2"",""Risk_factor"":""Low""}]",No,105,V_Participant_detail
3,1990-02-08T22:11:38Z,1000 EIGHTH ST #101,Saint Paul,V_Participant,NaN,149596,45,-93,"BARCLAY-SAXON,FANTASSIA",M,Minnesota,77,142,194,Silver,103,v_quotes,199,45,200000,Unemployed,69,M,900000,3,"[{""condition_name"":""Chronic viral hepatitis B without delta-agent"",""ICD_CODE"":""B18.1"",""Risk_factor"":""Medium""},{""condition_name"":""Ataxic cerebral palsy"",""ICD_CODE"":""G80.4"",""Risk_factor"":""Medium""},{""condition_name"":""Diarrhea, unspecified"",""ICD_CODE"":""R19.7"",""Risk_factor"":""Low""},{""condition_name"":""Tachycardia, unspecified"",""ICD_CODE"":""R00.0"",""Risk_factor"":""Low""},{""condition_name"":""Obstructive Sleep Apnea"",""ICD_CODE"":""G47.33"",""Risk_factor"":""Low""},{""condition_name"":""Unspecified fracture of specified metacarpal bone with unspecified laterality"",""ICD_CODE"":""S62.308"",""Risk_factor"":""Low""},{""condition_name"":""Other abnormalities of heart beat"",""ICD_CODE"":""R00.8"",""Risk_factor"":""Low""},{""condition_name"":""Type 2 diabetes mellitus with hyperglycemia"",""ICD_CODE"":""E11.65"",""Risk_factor"":""Medium""},{""condition_name"":""HIV disease resulting in other bacterial infections"",""ICD_CODE"":""B20.1"",""Risk_factor"":""High""},{""condition_name"":""cough with hemorrhage"",""ICD_CODE"":""R04.2"",""Risk_factor"":""Low""}]",Yes,112,V_Participant_detail
4,1990-11-08T22:11:38Z,612 BUENA VISTA AVE,Saint Paul,V_Participant,NaN,149597,45,-93,"ROBINSON ,YU-CONG",F,Minnesota,47,112,164,Silver,73,v_quotes,199,45,400000,Unemployed,64,M,500000,3,"[{""condition_name"":""Chronic viral hepatitis B without delta-agent"",""ICD_CODE"":""B18.1"",""Risk_factor"":""Medium""},{""condition_name"":""Ataxic cerebral palsy"",""ICD_CODE"":""G80.4"",""Risk_factor"":""Medium""},{""condition_name"":""Diarrhea, unspecified"",""ICD_CODE"":""R19.7"",""Risk_factor"":""Low""},{""condition_name"":""Tachycardia, unspecified"",""ICD_CODE"":""R00.0"",""Risk_factor"":""Low""},{""condition_name"":""Obstructive Sleep Apnea"",""ICD_CODE"":""G47.33"",""Risk_factor"":""Low""},{""condition_name"":""Unspecified fracture of specified metacarpal bone with unspecified laterality"",""ICD_CODE"":""S62.308"",""Risk_factor"":""Low""},{""condition_name"":""Other abnormalities of heart beat"",""ICD_CODE"":""R00.8"",""Risk_factor"":""Low""},{""condition_name"":""Type 2 diabetes mellitus with hyperglycemia"",""ICD_CODE"":""E11.65"",""Risk_factor"":""Medium""},{""condition_name"":""HIV disease resulting in other bacterial infections"",""ICD_CODE"":""B20.1"",""Risk_factor"":""High""},{""condition_name"":""cough with hemorrhage"",""ICD_CODE"":""R04.2"",""Risk_factor"":""Low""}]",Yes,235,V_Participant_detail
5,1991-06-08T22:11:38Z,750 CARLITA CIRCLE,Saint Paul,V_Participant,NaN,149613,45,-93,"TOUSLEY,LAURIN G",F,Minnesota,53,118,170,Silver,79,v_quotes,199,45,100000,Unemployed,59,S,800000,3,"[{""condition_name"":""Chronic viral hepatitis B without delta-agent"",""ICD_CODE"":""B18.1"",""Risk_factor"":""Medium""},{""condition_name"":""Ataxic cerebral palsy"",""ICD_CODE"":""G80.4"",""Risk_factor"":""Medium""},{""condition_name"":""Diarrhea, unspecified"",""ICD_CODE"":""R19.7"",""Risk_factor"":""Low""},{""condition_name"":""Tachycardia, unspecified"",""ICD_CODE"":""R00.0"",""Risk_factor"":""Low""},{""condition_name"":""Obstructive Sleep Apnea"",""ICD_CODE"":""G47.33"",""Risk_factor"":""Low""},{""condition_name"":""Unspecified fracture of specified metacarpal bone with unspecified laterality"",""ICD_CODE"":""S62.308"",""Risk_factor"":""Low""},{""condition_name"":""Other abnormalities of heart beat"",""ICD_CODE"":""R00.8"",""Risk_factor"":""Low""},{""condition_name"":""Type 2 diabetes mellitus with hyperglycemia"",""ICD_CODE"":""E11.65"",""Risk_factor"":""Medium""},{""condition_name"":""HIV disease resulting in other bacterial infections"",""ICD_CODE"":""B20.1"",""Risk_factor"":""High""},{""condition_name"":""cough with hemorrhage"",""ICD_CODE"":""R04.2"",""Risk_factor"":""Low""}]",No,117,V_Participant_detail
6,1989-08-08T22:11:38Z,"1143 NW 64TH TERR, DIV 1",Oklee,V_Participant,NaN,149616,48,-96,"YUAG,MEI YIN L",M,Minnesota,47,112,164,Silver,73,v_quotes,198,50,300000,Unemployed,76,M,500000,1,"[{""condition_name"":""Chronic viral hepatitis B without delta-agent"",""ICD_CODE"":""B18.1"",""Risk_factor"":""Medium""},{""condition_name"":""Ataxic cerebral palsy"",""ICD_CODE"":""G80.4"",""Risk_factor"":""Medium""},{""condition_name"":""Diarrhea, unspecified"",""ICD_CODE"":""R19.7"",""Risk_factor"":""Low""},{""condition_name"":""Tachycardia, unspecified"",""ICD_CODE"":""R00.0"",""Risk_factor"":""Low""},{""condition_name"":""Obstructive Sleep Apnea"",""ICD_CODE"":""G47.33"",""Risk_factor"":""Low""},{""condition_name"":""Unspecified fracture of specified metacarpal bone with unspecified laterality"",""ICD_CODE"":""S62.308"",""Risk_factor"":""Low""},{""condition_name"":""Other abnormalities of heart beat"",""ICD_CODE"":""R00.8"",""Risk_factor"":""Low""},{""condition_name"":""Type 2 diabetes mellitus with hyperglycemia"",""ICD_CODE"":""E11.65"",""Risk_factor"":""Medium""},{""condition_name"":""HIV disease resulting in other bacterial infections"",""ICD_CODE"":""B20.1"",""Risk_factor"":""High""},{""condition_name"":""cough with hemorrhage"",""ICD_CODE"":""R04.2"",""Risk_factor"":""Low""}]",Yes,107,V_Participant_detail
7,1990-10-08T22:11:38Z,829 AHWAHNEE,Red Lake Falls,V_Participant,NaN,149618,48,-96,"NAZARIO-TAHSIN,SUZZANNE A",M,Minnesota,71,136,188,Silver,97,v_quotes,199,50,100000,Unemployed,64,S,900000,4,"[{""condition_name"":""Chronic viral hepatitis B without delta-agent"",""ICD_CODE"":""B18.1"",""Risk_factor"":""Medium""},{""condition_name"":""Ataxic cerebral palsy"",""ICD_CODE"":""G80.4"",""Risk_factor"":""Medium""},{""condition_name"":""Diarrhea, unspecified"",""ICD_CODE"":""R19.7"",""Risk_factor"":""Low""},{""condition_name"":""Tachycardia, unspecified"",""ICD_CODE"":""R00.0"",""Risk_factor"":""Low""},{""condition_name"":""Obstructive Sleep Apnea"",""ICD_CODE"":""G47.33"",""Risk_factor"":""Low""},{""condition_name"":""Unspecified fracture of specified metacarpal bone with unspecified laterality"",""ICD_CODE"":""S62.308"",""Risk_factor"":""Low""},{""condition_name"":""Other abnormalities of heart beat"",""ICD_CODE"":""R00.8"",""Risk_factor"":""Low""},{""condition_name"":""Type 2 diabetes mellitus with hyperglycemia"",""ICD_CODE"":""E11.65"",""Risk_factor"":""Medium""},{""condition_name"":""HIV disease resulting in other bacterial infections"",""ICD_CODE"":""B20.1"",""Risk_factor"":""High""},{""condition_name"":""cough with hemorrhage"",""ICD_CODE"":""R04.2"",""Risk_factor"":""Low""}]",No,192,V_Participant_detail
8,1990-03-08T22:11:38Z,1133 E SAN MADELE,Clements,V_Participant,NaN,149624,44,-95,"GROSHON,TA'CARAH W",M,Minnesota,38,103,155,Silver,64,v_quotes,199,45,100000,Unemployed,62,M,600000,3,"[{""condition_name"":""Chronic viral hepatitis B without delta-agent"",""ICD_CODE"":""B18.1"",""Risk_factor"":""Medium""},{""condition_name"":""Ataxic cerebral palsy"",""ICD_CODE"":""G80.4"",""Risk_factor"":""Medium""},{""condition_name"":""Diarrhea, unspecified"",""ICD_CODE"":""R19.7"",""Risk_factor"":""Low""},{""condition_name"":""Tachycardia, unspecified"",""ICD_CODE"":""R00.0"",""Risk_factor"":""Low""},{""condition_name"":""Obstructive Sleep Apnea"",""ICD_CODE"":""G47.33"",""Risk_factor"":""Low""},{""condition_name"":""Unspecified fracture of specified metacarpal bone with unspecified laterality"",""ICD_CODE"":""S62.308"",""Risk_factor"":""Low""},{""condition_name"":""Other abnormalities of heart beat"",""ICD_CODE"":""R00.8"",""Risk_factor"":""Low""},{""condition_name"":""Type 2 diabetes mellitus with hyperglycemia"",""ICD_CODE"":""E11.65"",""Risk_factor"":""Medium""},{""condition_name"":""HIV disease resulting in other bacterial infections"",""ICD_CODE"":""B20.1"",""Risk_factor"":""High""},{""condition_name"":""cough with hemorrhage"",""ICD_CODE"":""R04.2"",""Risk_factor"":""Low""}]",No,266,V_Participant_detail
9,1991-11-08T22:11:38Z,3006 CHESTNUT HILL DRIVE,Redwood Falls,V_Participant,NaN,149628,45,-95,"DEPRIEST,KAYTI DOW",M,Minnesota,41,106,158,Gold,67,v_quotes,199,45,700000,Unemployed,72,M,900000,1,"[{""condition_name"":""Chronic viral hepatitis B without delta-agent"",""ICD_CODE"":""B18.1"",""Risk_factor"":""Medium""},{""condition_name"":""Ataxic cerebral palsy"",""ICD_CODE"":""G80.4"",""Risk_factor"":""Medium""},{""condition_name"":""Diarrhea, unspecified"",""ICD_CODE"":""R19.7"",""Risk_factor"":""Low""},{""condition_name"":""Tachycardia, unspecified"",""ICD_CODE"":""R00.0"",""Risk_factor"":""Low""},{""condition_name"":""Obstructive Sleep Apnea"",""ICD_CODE"":""G47.33"",""Risk_factor"":""Low""},{""condition_name"":""Unspecified fracture of specified metacarpal bone with unspecified laterality"",""ICD_CODE"":""S62.308"",""Risk_factor"":""Low""},{""condition_name"":""Other abnormalities of heart beat"",""ICD_CODE"":""R00.8"",""Risk_factor"":""Low""},{""condition_name"":""Type 2 diabetes mellitus with hyperglycemia"",""ICD_CODE"":""E11.65"",""Risk_factor"":""Medium""},{""condition_name"":""HIV disease resulting in other bacterial infections"",""ICD_CODE"":""B20.1"",""Risk_factor"":""High""},{""condition_name"":""cough with hemorrhage"",""ICD_CODE"":""R04.2"",""Risk_factor"":""Low""}]",No,146,V_Participant_detail

In [326]:
def parse_for(conditions):
    if conditions == '[{"condition_name":"Chronic viral hepatitis B without delta-agent","ICD_CODE":"B18.1","Risk_factor":"Medium"},{"condition_name":"Ataxic cerebral palsy","ICD_CODE":"G80.4","Risk_factor":"Medium"},{"condition_name":"Diarrhea, unspecified","ICD_CODE":"R19.7","Risk_factor":"Low"},{"condition_name":"Tachycardia, unspecified","ICD_CODE":"R00.0","Risk_factor":"Low"},{"condition_name":"Obstructive Sleep Apnea","ICD_CODE":"G47.33","Risk_factor":"Low"},{"condition_name":"Unspecified fracture of specified metacarpal bone with unspecified laterality","ICD_CODE":"S62.308","Risk_factor":"Low"},{"condition_name":"Other abnormalities of heart beat","ICD_CODE":"R00.8","Risk_factor":"Low"},{"condition_name":"Type 2 diabetes mellitus with hyperglycemia","ICD_CODE":"E11.65","Risk_factor":"Medium"},{"condition_name":"HIV disease resulting in other bacterial infections","ICD_CODE":"B20.1","Risk_factor":"High"},{"condition_name":"cough with hemorrhage","ICD_CODE":"R04.2","Risk_factor":"Low"}]':
        return 1
    else:
        return -1

full_data['weight_hundred'] = full_data['WEIGHT'].apply(lambda x: x/ 100)
full_data['risk_factors'] = full_data['PRE_CONDITIONS'].apply(lambda x: parse_for(x))
full_data['platinum'] = full_data['PLATINUM'].apply(lambda x: x/ 10)
full_data['fat'] = (full_data['WEIGHT']*0.453592) / ((full_data['HEIGHT']*0.0254)**2) 
full_data['fat'] = full_data['fat'].astype(int)
full_data['PURCHASED'] = full_data['PURCHASED'].apply(lambda x: x.upper())
full_data['s'] = full_data[full_data.PURCHASED == "SILVER"]["SILVER"]
full_data['g'] = full_data[full_data.PURCHASED == "GOLD"]["GOLD"]
full_data['p'] = full_data[full_data.PURCHASED == "PLATINUM"]["PLATINUM"]
full_data['b'] = full_data[full_data.PURCHASED == "BRONZE"]["BRONZE"]
full_data['PRE_CONDITIONS'] = full_data.fillna("Nothing")['PRE_CONDITIONS']
full_data['paid'] = ((full_data.fillna(0)['s'] + full_data.fillna(0)['g'] + full_data.fillna(0)['p'] + full_data.fillna(0)['b']) / 10).apply(lambda a: round(a, 0))

In [328]:
print full_data.groupby('ANNUAL_INCOME')['paid'].mean()

ANNUAL_INCOME
100000     8.248219
200000     8.246475
300000     8.352479
400000     8.418919
500000     8.384615
700000     7.920354
800000     8.101010
900000     8.031250
1000000    7.944444
Name: paid, dtype: float64

In [329]:
print full_data.groupby('paid')['fat'].mean()

paid
6.0     29.386047
7.0     29.148936
8.0     29.305556
9.0     29.541586
10.0    29.455935
11.0    28.531002
12.0    28.996071
13.0    28.622727
14.0    27.361111
15.0    27.882353
16.0    25.000000
Name: fat, dtype: float64

In [128]:
print full_data.groupby('TOBACCO')['PLATINUM'].mean()
print full_data.groupby('TOBACCO')['GOLD'].mean()
print full_data.groupby('TOBACCO')['SILVER'].mean()
print full_data.groupby('TOBACCO')['BRONZE'].mean()

TOBACCO
No     157.458136
Yes    173.573246
Name: PLATINUM, dtype: float64
TOBACCO
No     105.458136
Yes    121.573246
Name: GOLD, dtype: float64
TOBACCO
No     66.458136
Yes    82.573246
Name: SILVER, dtype: float64
TOBACCO
No     40.458136
Yes    56.573246
Name: BRONZE, dtype: float64