In [65]:
import json
import pandas as pd

In [66]:
def open_json(filename):
    with open(filename,'r') as f:
        data = json.load(f)
    return data

In [70]:
all_basic_data = open_json('../basic_1482000.json')

In [73]:
all_basic_data.keys()

dict_keys(['responseHeader', 'response'])

In [75]:
all_basic_data['responseHeader'].keys()

dict_keys(['zkConnected', 'status', 'QTime', 'params'])

In [76]:
all_basic_data['response'].keys()

dict_keys(['numFound', 'start', 'docs'])

In [78]:
all_basic_data_list = all_basic_data['response']['docs']

In [81]:
basic_df = pd.DataFrame(all_basic_data_list)

In [82]:
basic_df

,DOB,address,city,collection_id,email,id,latitude,longitude,name,sex,state
0,1994-06-08T22:11:38Z,549 MOUNTAINVIEW DR.,Akutan,V_Participant,NaN,1318,54,-166,"DELUCCA,SHALEE V",M,Alaska
1,1999-02-08T22:11:38Z,476 VIA DEL PLANO,Cold Bay,V_Participant,NaN,1319,55,-163,"MUSSER,WOONG T",F,Alaska
2,1999-01-08T22:11:38Z,330 S THIRD ST,False Pass,V_Participant,NaN,1320,55,-163,"BAYLY,JASHAN G",M,Alaska
3,1999-11-08T22:11:38Z,6200 E CANYON RIM RD #110D,King Cove,V_Participant,NaN,1321,55,-162,"SUGITA,LLOYD R",F,Alaska
4,1995-10-08T22:11:38Z,"750 LAS GALLINAS AVE, SUITE 116A",Atka,V_Participant,NaN,1324,52,-174,"OSWALD II,DE QIAN B",M,Alaska
5,1996-11-08T22:11:38Z,NaN,Saint George Island,V_Participant,NaN,1325,57,-170,"YAPPERT,DEZARAEE L",F,Alaska
6,1994-01-08T22:11:38Z,1526 LINCOLN ST,Nikolski,V_Participant,NaN,1326,53,-169,"DAMACION,TAL",M,Alaska
7,1994-05-08T22:11:38Z,2235 INYO #5,Dutch Harbor,V_Participant,NaN,1329,54,-167,"SAVITZ,KEALLIE ANN M",F,Alaska
8,1995-04-08T22:11:38Z,6931 STOCKTON AVENUE,Anchorage,V_Participant,NaN,1330,61,-150,"ST LAWRENCE,MARCHELLE W",M,Alaska
9,1994-02-08T22:11:38Z,18579 OLIVE ST,Anchorage,V_Participant,NaN,1331,61,-150,"KISSUN,ALMARIS M",F,Alaska
10,1999-04-08T22:11:38Z,8022 TAMOSHANTER DRIVE,Anchorage,V_Participant,NaN,1332,61,-150,"ZINNERMAN,JOSEPH TODD M",M,Alaska
11,1997-07-08T22:11:38Z,8830 TRENTON ROAD,Jber,V_Participant,NaN,1334,60,-159,"FERBER,ALEX A",M,Alaska
12,1999-08-08T22:11:38Z,110 N VALERIA ST #206,Jber,V_Participant,NaN,1335,60,-159,"GHIGGIA,FINIS L",F,Alaska
13,1993-03-08T22:11:38Z,105 CLEAR WATER,Anchorage,V_Participant,NaN,1338,61,-150,"MENDOZA-RODRIGUEZ,SHAUTAVIA",M,Alaska
14,1997-05-08T22:11:38Z,5807 TEMPLE CITY BLVD,Anchorage,V_Participant,NaN,1339,61,-150,"GOBBEL,LAVERNIA",F,Alaska
15,1997-11-08T22:11:38Z,3624 RONK WY,Anchorage,V_Participant,NaN,1340,61,-150,"HANEEF,KASIE R",M,Alaska
16,1997-06-08T22:11:38Z,3440 MARGARET D,Anchorage,V_Participant,NaN,1343,61,-150,"LEICHLITER,ZIA",F,Alaska
17,1997-01-08T22:11:38Z,2525 NW LOVEJOY ST #404,Anchorage,V_Participant,NaN,1344,61,-150,"ANNIE,ROZINA",M,Alaska
18,1996-08-08T22:11:38Z,8 ESTRELLA CIRCLE,Anchorage,V_Participant,NaN,1345,61,-150,"BOMAN,CAPRIESHA M",F,Alaska
19,1999-08-08T22:11:38Z,430 WILLOW AVE,Anchorage,V_Participant,NaN,1348,61,-150,"IBARRA VELASCO,ANATOLI J",M,Alaska
20,1995-11-08T22:11:38Z,1076 REED AVE APT #76,Anchorage,V_Participant,NaN,1349,61,-150,"TIDWELL JR,DEQUAN R",F,Alaska
21,1994-11-08T22:11:38Z,2502 TOLWORTH A,Anchorage,V_Participant,NaN,1350,61,-150,"STRICKLAN,HYESOOK V",M,Alaska
22,1998-04-08T22:11:38Z,6450 DOUGHRTY RD,Anchorage,V_Participant,NaN,1351,61,-150,"PACKEBUSH,BENJAMIN JR R",F,Alaska
23,1993-04-08T22:11:38Z,4220 PRIMRISE AVENUE,Anchorage,V_Participant,NaN,1352,61,-150,"MOLLENA,DHEKRA L",M,Alaska
24,1993-12-08T22:11:38Z,8260 W FLAGER ST 1 H,Anchorage,V_Participant,NaN,1353,61,-150,"FURRY ROSEMARI,JONATHON V",F,Alaska
25,1994-02-08T22:11:38Z,4397 INDIGO DR,Anchorage,V_Participant,NaN,1354,61,-150,"EARSERY,ZELANA R",M,Alaska
26,1997-12-08T22:11:38Z,2487 WINSLOW WY,Eagle River,V_Participant,NaN,1357,61,-150,"GLOW,SHIGEO",F,Alaska
27,1994-07-08T22:11:38Z,3983 KLAMATH WAY,Anchorage,V_Participant,NaN,1359,61,-150,"NAJAER,POY-JING",F,Alaska
28,1998-06-08T22:11:38Z,3315 CHANATE RD 1E,Anchorage,V_Participant,NaN,1360,61,-149,"DESMAN,WIDIYATI A",M,Alaska
29,1997-06-08T22:11:38Z,100 FOWLER AVE #158,Kongiganak,V_Participant,NaN,1361,60,-163,"BUSENHART,LONIEL M",F,Alaska
...,...,...,...,...,...,...,...,...,...,...,...
417119,1987-03-08T22:11:38Z,5200 CASCADE ROAD SE,Truesdale,V_Participant,NaN,397362,39,-91,"KIRSTEINS,MAYTE M",M,Missouri
417120,1982-10-08T22:11:38Z,552 SILVA AVENUE,Warrenton,V_Participant,NaN,397363,39,-91,"STANFILL,MOLLEIGH A",F,Missouri
417121,1979-10-08T22:11:38Z,P O BOX 313,Belgrade,V_Participant,NaN,397366,38,-91,"MUTTER,JADENE",M,Missouri
417122,1979-12-08T22:11:38Z,P O BOX 8761,Caledonia,V_Participant,NaN,397368,38,-91,"ZIRSCHKY,SAMANTHA RAE C",M,Missouri
417123,1980-05-08T22:11:38Z,"2001 PINER ROAD, APT 102",Irondale,V_Participant,NaN,397369,38,-91,"ROSDAIL,LEALO FITAUTE M",F,Missouri
417124,1986-06-08T22:11:38Z,7977 PARK DRIVE,Tiff,V_Participant,NaN,397372,38,-91,"VILLARICO,CASSANDA",M,Missouri
417125,1983-01-08T22:11:38Z,33955 JULIET CIR.,Cascade,V_Participant,NaN,397373,37,-90,"ALBAR-JEN,KATSUKO",F,Missouri
417126,1980-10-08T22:11:38Z,1195 KRONA LN,Clubb,V_Participant,NaN,397375,37,-90,"VIDAS,AMAYATZIN A",F,Missouri
417127,1983-05-08T22:11:38Z,399 E HIGHLAND AVE #516,Lodi,V_Participant,NaN,397377,37,-90,"MANJARREZ,SALIYAH M",F,Missouri
417128,1985-09-08T22:11:38Z,"1143 NW 64TH TERR, DIV 1",Lowndes,V_Participant,NaN,397378,37,-90,"SPICUGLIA,LESLEY ANNE M",M,Missouri
417129,1987-06-08T22:11:38Z,210 CALEDONIA ST #B,Silva,V_Participant,NaN,397382,37,-90,"JOHNSON RONALD,SHELDA D",M,Missouri
417130,1986-05-08T22:11:38Z,745 DAVIS ST #B,Diggins,V_Participant,NaN,397385,37,-93,"ESPLANA,AUSHLEY C",F,Missouri
417131,1979-08-08T22:11:38Z,901 CAMPUS DR STE 112,Elkland,V_Participant,NaN,397386,37,-93,"HULEN,SHANEA",M,Missouri
417132,1985-05-08T22:11:38Z,1108 WEST TOKAY STREET,Fordland,V_Participant,NaN,397387,37,-93,"TELLES JR,M.MICHELE I",F,Missouri
417133,1979-06-08T22:11:38Z,780 GUERRERE ST #10,Marshfield,V_Participant,NaN,397388,37,-93,"PRESNAR JR,HUIZHEN J",M,Missouri
417134,1981-05-08T22:11:38Z,2836 MERLE AVEN,Niangua,V_Participant,NaN,397389,37,-93,"WILLNER,LUZ-PILAR",F,Missouri
417135,1985-03-08T22:11:38Z,P.O. BOX 92,Seymour,V_Participant,NaN,397391,37,-93,"GONDORF,TYSCHELL N",F,Missouri
417136,1978-02-08T22:11:38Z,1538 ELMAR WAY,Allendale,V_Participant,NaN,397392,40,-94,"MAISLEN,ARILYNN",M,Missouri
417137,1982-01-08T22:11:38Z,9118 N WEST LANE,Denver,V_Participant,NaN,397393,40,-94,"BAMBRICK,LA LONNIE A",F,Missouri
417138,1981-03-08T22:11:38Z,111 VIA TERESA,Grant City,V_Participant,NaN,397394,40,-94,"MANSOUR,MILA VILLA",M,Missouri
417139,1987-04-08T22:11:38Z,6929 BISMARCK DRIVE,Sheridan,V_Participant,NaN,397395,40,-95,"HATHCOCK,YESINA",F,Missouri
417140,1979-05-08T22:11:38Z,6394 E SANTA ANA CYN RD,Graff,V_Participant,NaN,397397,37,-92,"WURTS,JANADA",F,Missouri
417141,1984-03-08T22:11:38Z,295 FELL ST STE B,Grovespring,V_Participant,NaN,397398,37,-93,"MCCAMMOND,CAITLEN",M,Missouri
417142,1985-11-08T22:11:38Z,237 VEGA ROAD,Hartville,V_Participant,NaN,397399,37,-93,"FARRAY,SANCHITA",F,Missouri
417143,1978-09-08T22:11:38Z,77 BAYLOR LANE,Mansfield,V_Participant,NaN,397401,37,-93,"ROJAS MIRANDA,MAYKAYLA",F,Missouri
417144,1979-07-08T22:11:38Z,641 NELLO DR #2,Norwood,V_Participant,NaN,397403,37,-92,"MALFA,CLELID L",F,Missouri
417145,1983-01-08T22:11:38Z,4303 N EMERSON ST,Saint Louis,V_Participant,NaN,397405,39,-90,"FISHER-GILL,SILVERIA",F,Missouri
417146,1983-02-08T22:11:38Z,218 PENNSYLVANIA AVE,Saint Louis,V_Participant,NaN,397406,39,-90,"TANNE,CHAIZ",M,Missouri
417147,1980-11-08T22:11:38Z,600 SAN PABLO AVENUE #202,Saint Louis,V_Participant,NaN,397410,39,-90,"SHOUN,AI HUA A",M,Missouri
417148,1986-01-08T22:11:38Z,1260 ROMO DRIVE,Saint Louis,V_Participant,NaN,397411,39,-90,"DRING,JODEEN",F,Missouri

In [83]:
basic_df['state'].unique()

array(['Alaska', 'Arizona', 'California', 'Colorado',
       'District of Columbia', nan, 'Hawaii', 'Iowa', 'Idaho', 'Minnesota',
       'Montana', 'North Dakota', 'New Mexico', 'Nevada', 'Oregon',
       'South Dakota', 'Texas', 'Utah', 'Washington', 'Wisconsin',
       'Wyoming', 'Alabama', 'Arkansas', 'Florida', 'Georgia', 'Illinois',
       'Kansas', 'Louisiana', 'Missouri', 'Mississippi', 'Nebraska',
       'Oklahoma', 'Tennessee', 'New Jersey', 'New York', 'Ohio',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'Virginia',
       'Vermont', 'West Virginia', 'Connecticut', 'Delaware', 'Indiana',
       'Kentucky', 'Massachusetts', 'Maryland', 'Maine', 'Michigan',
       'North Carolina', 'New Hampshire'], dtype=object)

In [85]:
len(all_basic_data_list)

417149

In [87]:
basic_df['state'].describe()

count         416968
unique            51
top       California
freq           50166
Name: state, dtype: object

In [88]:
basic_df['state'].value_counts()

California              50166
Texas                   27059
Iowa                    20366
Minnesota               19188
Illinois                17007
Florida                 16842
Wisconsin               16740
Washington              13390
Missouri                13283
Colorado                12536
Georgia                 10303
Arizona                 10140
Oregon                   8901
Alabama                  8874
Kansas                   8535
Louisiana                8292
Oklahoma                 8187
Tennessee                8131
New York                 8039
Arkansas                 7952
Montana                  7858
New Mexico               7829
North Dakota             7681
South Dakota             7195
Pennsylvania             7173
Nebraska                 6695
Utah                     6464
Idaho                    6219
Mississippi              5775
Ohio                     5334
Alaska                   5265
Nevada                   4688
Indiana                  4123
Virginia                 4024
Wyoming                  3642
Michigan                 3556
West Virginia            3505
Kentucky                 3443
North Carolina           3260
Hawaii                   2618
Massachusetts            2581
New Jersey               2462
Maryland                 2239
Connecticut              1928
Maine                    1816
South Carolina           1666
District of Columbia     1282
Vermont                  1135
New Hampshire             849
Delaware                  436
Rhode Island              296
Name: state, dtype: int64

In [89]:
decisions_df = pd.read_json('../decisions_semi_complete.json')

In [92]:
decisions_df.describe()

,BRONZE,GOLD,PLATINUM,SILVER,id
count,360653.000000,360653.000000,360653.000000,360653.000000,3.606530e+05
mean,57.996759,151.316376,225.972070,95.324606,6.312162e+05
std,16.410558,42.539314,65.403851,26.066217,3.329092e+05
min,20.000000,70.000000,110.000000,40.000000,4.000000e+00
25%,45.000000,121.000000,180.000000,76.000000,4.356450e+05
50%,56.000000,137.000000,201.000000,89.000000,5.640740e+05
75%,70.000000,177.000000,259.000000,113.000000,7.947420e+05
max,136.000000,286.000000,406.000000,196.000000,1.482000e+06

In [93]:
decisions_df

        BRONZE  GOLD  PLATINUM PURCHASED  SILVER collection_id       id
0           67   187       283    Silver     115      v_quotes   912064
1           56   151       227    Silver      94      v_quotes   762522
2           78   228       348    Silver     138      v_quotes  1196870
3           81   221       333    Silver     137      v_quotes  1343385
4           76   171       247    Silver     114      v_quotes   706684
5           47   102       146    Silver      69      v_quotes    27846
6           33    98       150    Silver      59      v_quotes   133968
7           32    97       149    Silver      58      v_quotes   601707
8           76   161       229    Silver     110      v_quotes   437776
9           80   230       350    Silver     140      v_quotes  1163794
10          75   225       345    Silver     135      v_quotes  1095202
11          78   228       348    Silver     138      v_quotes  1083496
12          76   216       328    Silver     132      v_quotes  1438332
13          79   219       331    Silver     135      v_quotes  1135280
14          61   126       178    Silver      87      v_quotes    84754
15          49   114       166    Silver      75      v_quotes   179881
16          85   235       355    Silver     145      v_quotes  1024021
17          51   126       186    Silver      81      v_quotes   429696
18          75   225       345    Silver     135      v_quotes  1203130
19          65   215       335    Silver     125      v_quotes  1056300
20          56   151       227    Silver      94      v_quotes   730306
21         100   250       370    Silver     160      v_quotes  1379022
22          76   216       328    Silver     132      v_quotes  1017439
23          39   114       174    Silver      69      v_quotes   637013
24          85   235       355    Silver     145      v_quotes  1091398
25          66   151       219    Silver     100      v_quotes   651310
26          66   151       219    Silver     100      v_quotes   357422
27          38   103       155    Silver      64      v_quotes   161393
28          80   200       296    Silver     128      v_quotes   899146
29          93   243       363    Silver     153      v_quotes  1428038
...        ...   ...       ...       ...     ...           ...      ...
360623      41   116       176    Silver      71      v_quotes   657741
360624      55   130       190    Silver      85      v_quotes   657742
360625      59   134       194    Silver      89      v_quotes   657745
360626      39   114       174      Gold      69      v_quotes   657746
360627      75   150       210    Silver     105      v_quotes   657747
360628      43   128       196    Silver      77      v_quotes   657749
360629      41   116       176    Bronze      71      v_quotes   657752
360630      52   117       169    Silver      78      v_quotes   657753
360631      76   161       229    Silver     110      v_quotes   657757
360632      55   130       190    Bronze      85      v_quotes   657759
360633      39   114       174    Silver      69      v_quotes   657764
360634      47   112       164    Bronze      73      v_quotes   657765
360635      62   137       197    Silver      92      v_quotes   657767
360636      80   165       233    Bronze     114      v_quotes   657770
360637      96   181       249      Gold     130      v_quotes   657771
360638      52   117       169      Gold      78      v_quotes   657775
360639      62   137       197    Bronze      92      v_quotes   657776
360640      41   116       176    Bronze      71      v_quotes   657778
360641      46   121       181    Bronze      76      v_quotes   657781
360642      86   171       239      Gold     120      v_quotes   657782
360643      36   111       171      Gold      66      v_quotes   657783
360644      44   119       179    Bronze      74      v_quotes   657784
360645      56   131       191    Bronze      86      v_quotes   657786
360646      61   146       214    Silver      95      v_quotes   657788
360647      41   116       176    Silver      71      v_quotes   657789
360648      52   127       187    Bronze      82      v_quotes   657791
360649      41   116       176    Bronze      71      v_quotes   657792
360650      59   134       194    Silver      89      v_quotes   657793
360651      46   121       181    Silver      76      v_quotes   657795
360652      36   111       171    Silver      66      v_quotes   657796

[360653 rows x 7 columns]

In [100]:
decisions_df['id'] = decisions_df['id'].astype(str)

In [101]:
basic_df.dtypes

DOB              object
address          object
city             object
collection_id    object
email            object
id               object
latitude          int64
longitude         int64
name             object
sex              object
state            object
dtype: object

In [102]:
decisions_df.dtypes

BRONZE            int64
GOLD              int64
PLATINUM          int64
PURCHASED        object
SILVER            int64
collection_id    object
id               object
dtype: object

In [103]:
joined_bd_df = basic_df.merge(decisions_df, on='id')

In [104]:
joined_bd_df.describe()

,latitude,longitude,BRONZE,GOLD,PLATINUM,SILVER
count,92882.000000,92882.000000,92882.000000,92882.000000,92882.000000,92882.000000
mean,37.193062,-96.371267,52.399195,132.752546,197.035227,84.540535
std,5.908181,14.832005,15.515253,34.936826,52.542108,22.508499
min,7.000000,-177.000000,22.000000,72.000000,112.000000,42.000000
25%,33.000000,-101.000000,41.000000,112.000000,170.000000,71.000000
50%,37.000000,-94.000000,51.000000,127.000000,190.000000,81.000000
75%,41.000000,-88.000000,62.000000,142.000000,209.000000,95.000000
max,71.000000,171.000000,126.000000,276.000000,396.000000,186.000000

In [105]:
joined_bd_df

,DOB,address,city,collection_id_x,email,id,latitude,longitude,name,sex,state,BRONZE,GOLD,PLATINUM,PURCHASED,SILVER,collection_id_y
0,1999-11-08T22:11:38Z,6200 E CANYON RIM RD #110D,King Cove,V_Participant,NaN,1321,55,-162,"SUGITA,LLOYD R",F,Alaska,27,77,117,Silver,47,v_quotes
1,1994-01-08T22:11:38Z,1526 LINCOLN ST,Nikolski,V_Participant,NaN,1326,53,-169,"DAMACION,TAL",M,Alaska,27,82,126,Silver,49,v_quotes
2,1997-11-08T22:11:38Z,3624 RONK WY,Anchorage,V_Participant,NaN,1340,61,-150,"HANEEF,KASIE R",M,Alaska,22,72,112,Gold,42,v_quotes
3,1997-06-08T22:11:38Z,3440 MARGARET D,Anchorage,V_Participant,NaN,1343,61,-150,"LEICHLITER,ZIA",F,Alaska,22,72,112,Silver,42,v_quotes
4,1997-06-08T22:11:38Z,100 FOWLER AVE #158,Kongiganak,V_Participant,NaN,1361,60,-163,"BUSENHART,LONIEL M",F,Alaska,32,82,122,Gold,52,v_quotes
5,1996-09-08T22:11:38Z,240 EDITH AVE #134,Kwigillingok,V_Participant,NaN,1374,60,-163,"JABOBS,ANNYSIA",M,Alaska,34,89,133,Silver,56,v_quotes
6,1996-06-08T22:11:38Z,2824 VIA DEL CABBALLO,Tuntutuliak,V_Participant,NaN,1385,60,-163,"ELISARRARAZ,DORALY DORIS",F,Alaska,32,87,131,Silver,54,v_quotes
7,1998-01-08T22:11:38Z,903 E DEVONSHIRE AVE #F,Clear,V_Participant,NaN,1391,64,-149,"WHITE, STEVEN,CHU YING K",F,Alaska,30,80,120,Silver,50,v_quotes
8,1995-12-08T22:11:38Z,521 CHINOOK LANE,Anderson,V_Participant,NaN,1394,64,-149,"MENSINGER,SHARANDA A",M,Alaska,34,89,133,Silver,56,v_quotes
9,1996-09-08T22:11:38Z,2311 IVY HILL WAY APT 412,Aleknagik,V_Participant,NaN,1396,59,-159,"PINTENS,NEAL K",M,Alaska,24,79,123,Silver,46,v_quotes
10,1994-01-08T22:11:38Z,4151 MIDDLEFIELD #111,Fairbanks,V_Participant,STEPHENABDMARIE@YAHOO.COM,1412,65,-148,"RAAB,SHANORIA",M,Alaska,24,79,123,Gold,46,v_quotes
11,1997-12-08T22:11:38Z,"1 MERCADO STREET, SUITE 202",Juneau,V_Participant,marcelleplymer@att.net,1427,58,-134,"POTEETE,DYANNE",F,Alaska,32,82,122,Silver,52,v_quotes
12,1994-03-08T22:11:38Z,2630 ORCHARD ST SPACE 31,Hooper Bay,V_Participant,NaN,1458,62,-166,"BEARCE,DARRIELLE A",M,Alaska,32,87,131,Silver,54,v_quotes
13,1997-02-08T22:11:38Z,880 CASS ST #108,Skwentna,V_Participant,NaN,1483,62,-151,"RENFROW,POHAI C",F,Alaska,52,102,142,Silver,72,v_quotes
14,1993-04-08T22:11:38Z,P O BOX 3279,Houston,V_Participant,NaN,1489,62,-150,"PATSEL,ANA (SANDY) L",F,Alaska,32,87,131,Silver,54,v_quotes
15,1996-01-08T22:11:38Z,172 HOME WOOD AVE,Unalakleet,V_Participant,NaN,1492,64,-161,"CALLAS,TEDDREKA R",M,Alaska,29,84,128,Gold,51,v_quotes
16,1993-06-08T22:11:38Z,1509 FOXHOLLOW LN,Koyuk,V_Participant,ALFORD_DANIEL@HOTMAIL.COM,1495,65,-161,"TIEMAN,ISALA",F,Alaska,34,89,133,Silver,56,v_quotes
17,1994-01-08T22:11:38Z,3265 CIRCLE CT WEST,Noatak,V_Participant,NaN,1519,68,-163,"HOLNESS,ANGELLISA L",F,Alaska,29,84,128,Silver,51,v_quotes
18,1994-05-08T22:11:38Z,P.O. BOX 292068,Gustavus,V_Participant,NaN,1537,58,-136,"SHIMANE,MARGAUX A",F,Alaska,39,94,138,Gold,61,v_quotes
19,1996-12-08T22:11:38Z,3773 CHERRY CRK N. #735,Pelican,V_Participant,NaN,1539,58,-136,"KONTAXAKIS,NATISHA L",F,Alaska,37,87,127,Silver,57,v_quotes
20,1999-08-08T22:11:38Z,22144 CLARENDON ST #300,Chitina,V_Participant,NaN,1549,61,-145,"SHABAZZ-TERRY,MAHYAR O",F,Alaska,32,82,122,Silver,52,v_quotes
21,1997-12-08T22:11:38Z,1306 C STREET #1,Copper Center,V_Participant,LGRONINGER@COMCAST.NET,1550,62,-145,"RATZAK,MANDEEP C",M,Alaska,22,72,112,Silver,42,v_quotes
22,1993-02-08T22:11:38Z,1860 HAYES STREET,Gakona,V_Participant,LGRONINGER@COMCAST.NET,1552,63,-144,"RORSCHACH,NIKY J",M,Alaska,47,102,146,Silver,69,v_quotes
23,1999-06-08T22:11:38Z,5465 SANTA MONICA BLVD #106,Glennallen,V_Participant,NaN,1553,62,-146,"BUNYEA,KACI S",F,Alaska,25,75,115,Gold,45,v_quotes
24,1997-12-08T22:11:38Z,"687 GRIZZLY PEAK BLVD,AVE #8",Tatitlek,V_Participant,NaN,1554,61,-147,"WICKS JR,SHANAL W",M,Alaska,27,77,117,Gold,47,v_quotes
25,1999-09-08T22:11:38Z,1231 ROSE AVE,Kaltag,V_Participant,NaN,1578,64,-159,"WEHRLE,IMUA D",M,Alaska,22,72,112,Silver,42,v_quotes
26,1996-02-08T22:11:38Z,1630 S COMMERCE ST #A1,Springerville,V_Participant,NaN,1598,34,-109,"DRIGGS,IRINA",M,Arizona,32,87,131,Silver,54,v_quotes
27,1996-11-08T22:11:38Z,1674 DORCHESTER,Chambers,V_Participant,NaN,1601,35,-110,"HAKE,ANDRAE J",F,Arizona,34,89,133,Gold,56,v_quotes
28,1995-06-08T22:11:38Z,552 E GLENN #33,Ganado,V_Participant,NaN,1604,36,-110,"MASER JR,KYLIA M",M,Arizona,24,79,123,Gold,46,v_quotes
29,1998-11-08T22:11:38Z,2220 SO. BASCOM AVE.,Lupton,V_Participant,NaN,1607,35,-109,"JOHNSON, JOHAN,TORIE L",F,Arizona,22,72,112,Silver,42,v_quotes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92852,1980-02-08T22:11:38Z,4737 PARKER ST,Deerfield,V_Participant,NaN,397349,38,-95,"HOSOBUCHI,CHARMENACA L",F,Missouri,50,135,203,Bronze,84,v_quotes
92853,1978-03-08T22:11:38Z,6619 SHATTUCK A,Metz,V_Participant,NaN,397351,38,-94,"WYDEVEN,CHELLSEA A",F,Missouri,43,128,196,Gold,77,v_quotes
92854,1981-08-08T22:11:38Z,7536 ELIZABETH,Moundville,V_Participant,NaN,397353,38,-94,"BOCKMAN,KAIRO",F,Missouri,61,146,214,Silver,95,v_quotes
92855,1986-06-08T22:11:38Z,137 LORTON AVE APT 6,Nevada,V_Participant,NaN,397354,38,-94,"QUESENBERRY,JEWELEAN",M,Missouri,66,141,201,Silver,96,v_quotes
92856,1987-05-08T22:11:38Z,"1200 LAKESHORE AVENUE, SUITE 18C",Richards,V_Participant,NaN,397355,38,-95,"RAMBUR,TIARRA A",F,Missouri,56,121,173,Gold,82,v_quotes
92857,1984-10-08T22:11:38Z,221 HAYES CIRCLE,Schell City,V_Participant,NaN,397356,38,-94,"JACQUILLARD,CALUNDRA S",M,Missouri,82,157,217,Silver,112,v_quotes
92858,1984-09-08T22:11:38Z,1600 NW 6TH STREET,Sheldon,V_Participant,NaN,397357,38,-94,"CARTERS,DYAN W",F,Missouri,62,137,197,Bronze,92,v_quotes
92859,1978-08-08T22:11:38Z,230 E.DUNNE AVE. APT#414,Marthasville,V_Participant,NaN,397360,39,-91,"SECRETO,PEIGHTEN",M,Missouri,40,125,193,Bronze,74,v_quotes
92860,1987-03-08T22:11:38Z,5200 CASCADE ROAD SE,Truesdale,V_Participant,NaN,397362,39,-91,"KIRSTEINS,MAYTE M",M,Missouri,32,97,149,Silver,58,v_quotes
92861,1982-10-08T22:11:38Z,552 SILVA AVENUE,Warrenton,V_Participant,NaN,397363,39,-91,"STANFILL,MOLLEIGH A",F,Missouri,51,126,186,Silver,81,v_quotes
92862,1979-12-08T22:11:38Z,P O BOX 8761,Caledonia,V_Participant,NaN,397368,38,-91,"ZIRSCHKY,SAMANTHA RAE C",M,Missouri,60,145,213,Gold,94,v_quotes
92863,1980-05-08T22:11:38Z,"2001 PINER ROAD, APT 102",Irondale,V_Participant,NaN,397369,38,-91,"ROSDAIL,LEALO FITAUTE M",F,Missouri,70,155,223,Silver,104,v_quotes
92864,1986-06-08T22:11:38Z,7977 PARK DRIVE,Tiff,V_Participant,NaN,397372,38,-91,"VILLARICO,CASSANDA",M,Missouri,51,126,186,Silver,81,v_quotes
92865,1983-01-08T22:11:38Z,33955 JULIET CIR.,Cascade,V_Participant,NaN,397373,37,-90,"ALBAR-JEN,KATSUKO",F,Missouri,59,134,194,Platinum,89,v_quotes
92866,1985-09-08T22:11:38Z,"1143 NW 64TH TERR, DIV 1",Lowndes,V_Participant,NaN,397378,37,-90,"SPICUGLIA,LESLEY ANNE M",M,Missouri,62,137,197,Gold,92,v_quotes
92867,1986-05-08T22:11:38Z,745 DAVIS ST #B,Diggins,V_Participant,NaN,397385,37,-93,"ESPLANA,AUSHLEY C",F,Missouri,67,142,202,Gold,97,v_quotes
92868,1979-08-08T22:11:38Z,901 CAMPUS DR STE 112,Elkland,V_Participant,NaN,397386,37,-93,"HULEN,SHANEA",M,Missouri,50,135,203,Platinum,84,v_quotes
92869,1985-05-08T22:11:38Z,1108 WEST TOKAY STREET,Fordland,V_Participant,NaN,397387,37,-93,"TELLES JR,M.MICHELE I",F,Missouri,56,131,191,Gold,86,v_quotes
92870,1979-06-08T22:11:38Z,780 GUERRERE ST #10,Marshfield,V_Participant,NaN,397388,37,-93,"PRESNAR JR,HUIZHEN J",M,Missouri,66,151,219,Silver,100,v_quotes
92871,1981-05-08T22:11:38Z,2836 MERLE AVEN,Niangua,V_Participant,NaN,397389,37,-93,"WILLNER,LUZ-PILAR",F,Missouri,55,140,208,Gold,89,v_quotes
92872,1982-01-08T22:11:38Z,9118 N WEST LANE,Denver,V_Participant,NaN,397393,40,-94,"BAMBRICK,LA LONNIE A",F,Missouri,62,137,197,Gold,92,v_quotes
92873,1981-03-08T22:11:38Z,111 VIA TERESA,Grant City,V_Participant,NaN,397394,40,-94,"MANSOUR,MILA VILLA",M,Missouri,48,133,201,Gold,82,v_quotes
92874,1987-04-08T22:11:38Z,6929 BISMARCK DRIVE,Sheridan,V_Participant,NaN,397395,40,-95,"HATHCOCK,YESINA",F,Missouri,32,97,149,Bronze,58,v_quotes
92875,1979-05-08T22:11:38Z,6394 E SANTA ANA CYN RD,Graff,V_Participant,NaN,397397,37,-92,"WURTS,JANADA",F,Missouri,43,128,196,Silver,77,v_quotes
92876,1985-11-08T22:11:38Z,237 VEGA ROAD,Hartville,V_Participant,NaN,397399,37,-93,"FARRAY,SANCHITA",F,Missouri,52,127,187,Silver,82,v_quotes
92877,1978-09-08T22:11:38Z,77 BAYLOR LANE,Mansfield,V_Participant,NaN,397401,37,-93,"ROJAS MIRANDA,MAYKAYLA",F,Missouri,50,135,203,Gold,84,v_quotes
92878,1979-07-08T22:11:38Z,641 NELLO DR #2,Norwood,V_Participant,NaN,397403,37,-92,"MALFA,CLELID L",F,Missouri,56,141,209,Silver,90,v_quotes
92879,1983-01-08T22:11:38Z,4303 N EMERSON ST,Saint Louis,V_Participant,NaN,397405,39,-90,"FISHER-GILL,SILVERIA",F,Missouri,36,111,171,Silver,66,v_quotes
92880,1983-02-08T22:11:38Z,218 PENNSYLVANIA AVE,Saint Louis,V_Participant,NaN,397406,39,-90,"TANNE,CHAIZ",M,Missouri,67,142,202,Silver,97,v_quotes
92881,1986-01-08T22:11:38Z,1260 ROMO DRIVE,Saint Louis,V_Participant,NaN,397411,39,-90,"DRING,JODEEN",F,Missouri,72,147,207,Silver,102,v_quotes

In [125]:
num_users = len(joined_bd_df)

In [126]:
joined_bd_df['state'].value_counts()

Texas                   10410
California               7474
Florida                  6145
Illinois                 5568
Missouri                 5032
Georgia                  3605
Alabama                  3484
Oklahoma                 3212
Kansas                   3176
Tennessee                3154
Louisiana                3051
Iowa                     3037
Minnesota                2850
Arkansas                 2725
Nebraska                 2464
Wisconsin                2462
Washington               2020
Mississippi              1956
Colorado                 1789
Arizona                  1491
Oregon                   1301
New Mexico               1184
Montana                  1158
North Dakota             1125
New York                 1084
South Dakota             1082
Utah                      984
Idaho                     965
Pennsylvania              942
Alaska                    754
Nevada                    708
Ohio                      688
Wyoming                   551
Virginia                  532
Indiana                   508
West Virginia             460
Michigan                  446
North Carolina            413
Kentucky                  413
Hawaii                    384
Massachusetts             335
New Jersey                292
Maryland                  279
Connecticut               234
Maine                     229
South Carolina            205
Vermont                   151
District of Columbia      139
New Hampshire             106
Delaware                   57
Rhode Island               31
Name: state, dtype: int64

In [127]:
joined_bd_df['PURCHASED'].value_counts()

Silver      56954
Gold        24155
Bronze       8856
Platinum     2917
Name: PURCHASED, dtype: int64

Format of data:

`data = {
    "TX":{
        "p_cnt":12,
        "g_cnt":23,
        "s_cnt":45,
        "b_cnt":21
        }
     }`

In [128]:
group_insurance_by_state = joined_bd_df['PURCHASED'].groupby(joined_bd_df['state'])

In [129]:
group_insurance_by_state

In [130]:
list(group_insurance_by_state)

[('Alabama', 20167        Gold
  20168      Silver
  20229      Silver
  20230      Silver
  20231      Silver
  20294        Gold
  20295      Silver
  20296      Silver
  20365      Silver
  20366      Silver
  20486      Silver
  20487      Silver
  20488        Gold
  20489      Silver
  20490      Silver
  20572        Gold
  20573      Silver
  20574      Silver
  20687      Silver
  20688      Silver
  20689      Silver
  20690      Silver
  20691      Silver
  20692      Silver
  20693      Bronze
  20694      Silver
  20695      Silver
  20696      Silver
  20697      Bronze
  20698      Silver
             ...
  89346      Bronze
  89347        Gold
  89348      Silver
  89349      Silver
  89350      Silver
  89351      Bronze
  89352        Gold
  89353      Bronze
  89354      Silver
  89355      Silver
  89356        Gold
  89357      Bronze
  89358      Bronze
  89359        Gold
  89360      Silver
  89361        Gold
  89362    Platinum
  89363        Gold
  89364      Bronze
  89365      Silver
  89366        Gold
  89367      Silver
  89368        Gold
  89369    Platinum
  89370      Silver
  89371      Silver
  89372      Silver
  89373      Silver
  89374        Gold
  89375      Bronze
  Name: PURCHASED, Length: 3484, dtype: object), ('Alaska', 0        Silver
  1        Silver
  2          Gold
  3        Silver
  4          Gold
  5        Silver
  6        Silver
  7        Silver
  8        Silver
  9        Silver
  10         Gold
  11       Silver
  12       Silver
  13       Silver
  14       Silver
  15         Gold
  16       Silver
  17       Silver
  18         Gold
  19       Silver
  20       Silver
  21       Silver
  22       Silver
  23         Gold
  24         Gold
  25       Silver
  1175     Silver
  1176       Gold
  1177     Silver
  1178     Silver
            ...
  63895    Silver
  63896      Gold
  63897    Silver
  64995    Silver
  64996    Silver
  64997    Silver
  64998    Silver
  64999    Silver
  65000    Silver
  65001    Silver
  65002    Silver
  65003    Silver
  65004    Silver
  65005      Gold
  65006    Silver
  65007    Silver
  65008      Gold
  65009    Silver
  65010      Gold
  65011    Silver
  65012      Gold
  65013    Silver
  65014    Silver
  65015    Silver
  65016    Silver
  65017      Gold
  65018    Silver
  65019    Silver
  65020    Silver
  65021    Silver
  Name: PURCHASED, Length: 754, dtype: object), ('Arizona', 26       Silver
  27         Gold
  28         Gold
  29       Silver
  30       Silver
  31       Silver
  32       Silver
  33       Silver
  34       Silver
  35         Gold
  36       Silver
  37       Silver
  38         Gold
  39         Gold
  40       Silver
  41       Silver
  42       Silver
  43         Gold
  44         Gold
  45       Silver
  46       Silver
  47       Silver
  48       Silver
  49       Silver
  50         Gold
  51       Silver
  52       Silver
  53       Silver
  54       Silver
  55         Gold
            ...
  65040    Silver
  65041    Silver
  65042    Silver
  65043      Gold
  65044    Silver
  65045      Gold
  65046      Gold
  65047    Silver
  65048    Silver
  65049    Silver
  65050    Silver
  65051      Gold
  65052    Silver
  65053      Gold
  65054    Silver
  65055    Silver
  65056    Silver
  65057    Silver
  65058      Gold
  65059    Silver
  65060    Silver
  65061    Silver
  65062      Gold
  65063    Silver
  65064      Gold
  65065    Silver
  65066    Silver
  65067    Silver
  65068    Silver
  65069    Silver
  Name: PURCHASED, Length: 1491, dtype: object), ('Arkansas', 20169      Silver
  20170        Gold
  20171      Silver
  20232        Gold
  20233      Silver
  20234        Gold
  20235      Silver
  20236      Silver
  20297        Gold
  20298      Silver
  20367        Gold
  20368        Gold
  20369      Silver
  20428      Silver
  20429      Silver
  20430      Silver
  20491      Silver
  20492      Silver
  20493      Silver
  20494      Silver
  20575      Silver
  20576      Silver
  20577      Silver
  20578      Silver
  20579      Silver
  20700        Gold
  20701        Gold
  20926        Gold
  20927        Gold
  20928      Silver
             ...
  89676      Silver
  89677      Bronze
  89678        Gold
  89679      Silver
  89680      Bronze
  89681        Gold
  89682        Gold
  89683        Gold
  89684        Gold
  89685      Bronze
  89686        Gold
  89687        Gold
  89688      Silver
  89689      Bronze
  89690        Gold
  89691      Silver
  89692        Gold
  89693      Silver
  89694      Silver
  89695      Bronze
  89696      Silver
  89697        Gold
  89698      Silver
  89699      Bronze
  89700      Silver
  89701    Platinum
  89702      Silver
  89703    Platinum
  89704      Silver
  89705      Bronze
  Name: PURCHASED, Length: 2725, dtype: object), ('California', 79       Silver
  80       Silver
  81       Silver
  82       Silver
  83         Gold
  84       Silver
  85       Silver
  86       Silver
  87       Silver
  88       Silver
  89       Silver
  90         Gold
  91       Silver
  92         Gold
  93       Silver
  94         Gold
  95       Silver
  96         Gold
  97         Gold
  98       Silver
  99         Gold
  100      Silver
  101      Silver
  102        Gold
  103      Silver
  104      Silver
  105      Silver
  106      Silver
  107        Gold
  108      Silver
            ...
  65302    Silver
  65303    Silver
  65304      Gold
  65305      Gold
  65306      Gold
  65307    Silver
  65308    Silver
  65309    Silver
  65310    Silver
  65311    Silver
  65312    Silver
  65313      Gold
  65314      Gold
  65315    Silver
  65316    Silver
  65317      Gold
  65318    Silver
  65319    Silver
  65320    Silver
  65321    Silver
  65322      Gold
  65323    Silver
  65324      Gold
  65325    Silver
  65326    Silver
  65327    Silver
  65328    Silver
  65329      Gold
  65330      Gold
  65331      Gold
  Name: PURCHASED, Length: 7474, dtype: object), ('Colorado', 373        Gold
  374      Silver
  375      Silver
  376      Silver
  377        Gold
  378      Silver
  379        Gold
  380      Silver
  381        Gold
  382        Gold
  383      Silver
  384        Gold
  385      Silver
  386      Silver
  387      Silver
  388      Silver
  389        Gold
  390      Silver
  391      Silver
  392      Silver
  393      Silver
  394      Silver
  395      Silver
  396      Silver
  397      Silver
  398      Silver
  399      Silver
  400      Silver
  401        Gold
  402        Gold
            ...
  65364    Silver
  65365    Silver
  65366    Silver
  65367    Silver
  65368    Silver
  65369    Silver
  65370    Silver
  65371    Silver
  65372    Silver
  65373    Silver
  65374    Silver
  65375    Silver
  65376      Gold
  65377    Silver
  65378      Gold
  65379    Silver
  65380      Gold
  65381    Silver
  65382      Gold
  65383    Silver
  65384    Silver
  65385    Silver
  65386      Gold
  65387      Gold
  65388      Gold
  65389    Silver
  65390    Silver
  65391    Silver
  65392    Silver
  65393    Silver
  Name: PURCHASED, Length: 1789, dtype: object), ('Connecticut',
  44202    Silver
  44203    Silver
  44204      Gold
  44205      Gold
  44206      Gold
  44207      Gold
  44208    Silver
  44209    Silver
  44210    Silver
  44211    Silver
  44212    Silver
  44213    Silver
  44214      Gold
  44215    Silver
  44216    Silver
  44217    Silver
  44218    Silver
  44219      Gold
  44220    Silver
  44221    Silver
  44222    Silver
  44223    Silver
  44224    Silver
  44225    Silver
  44226    Silver
  44227    Silver
  44228    Silver
  44229    Silver
  44230      Gold
  44231    Silver
            ...
  58034    Silver
  58035    Silver
  58036      Gold
  58037    Silver
  58038      Gold
  58039      Gold
  58040    Silver
  58041    Silver
  58042      Gold
  58043      Gold
  58044    Silver
  58045    Silver
  58046    Silver
  58047      Gold
  58048    Silver
  58049    Silver
  58050    Silver
  58051      Gold
  58052      Gold
  58053      Gold
  58054    Silver
  58055    Silver
  58056    Silver
  58057    Silver
  58058    Silver
  58059    Silver
  58060      Gold
  58061    Silver
  58062    Silver
  58063      Gold
  Name: PURCHASED, Length: 234, dtype: object), ('Delaware', 44268    Silver
  44269    Silver
  44270    Silver
  44271    Silver
  44272      Gold
  44273    Silver
  44274    Silver
  44275    Silver
  44276    Silver
  44277    Silver
  45402    Silver
  45403      Gold
  45404      Gold
  45515      Gold
  53187    Silver
  53188    Silver
  53270    Silver
  53743    Silver
  53744    Silver
  54001    Silver
  54267    Silver
  54535      Gold
  54601      Gold
  54732    Silver
  54872      Gold
  54873      Gold
  54874    Silver
  54875    Silver
  54876      Gold
  54877    Silver
  54878      Gold
  54879    Silver
  56184      Gold
  56185    Silver
  56186    Silver
  56187      Gold
  56188      Gold
  56189    Silver
  56665      Gold
  56666    Silver
  56667    Silver
  56668    Silver
  56669    Silver
  56670      Gold
  56671      Gold
  56672      Gold
  58082    Silver
  58083    Silver
  58084      Gold
  58085    Silver
  58086    Silver
  58087      Gold
  58088    Silver
  58089    Silver
  58090    Silver
  58091    Silver
  58092    Silver
  Name: PURCHASED, dtype: object), ('District of Columbia', 1580     Silver
  7229       Gold
  9508       Gold
  10636    Silver
  10637    Silver
  11783    Silver
  15139    Silver
  17370      Gold
  27829    Silver
  27830    Silver
  28968    Silver
  44243    Silver
  44244    Silver
  44245      Gold
  44246    Silver
  44247      Gold
  44248    Silver
  44249    Silver
  44250    Silver
  44251    Silver
  44252      Gold
  44253    Silver
  44254      Gold
  44255      Gold
  44256      Gold
  44257    Silver
  44258    Silver
  44259    Silver
  44260      Gold
  44261    Silver
            ...
  56653    Silver
  56654    Silver
  56655      Gold
  56656    Silver
  56657    Silver
  56658    Silver
  56659    Silver
  56660      Gold
  56661    Silver
  56662    Silver
  56663    Silver
  56664      Gold
  58064      Gold
  58065    Silver
  58066      Gold
  58067    Silver
  58068      Gold
  58069    Silver
  58070    Silver
  58071    Silver
  58072    Silver
  58073    Silver
  58074    Silver
  58075    Silver
  58076    Silver
  58077    Silver
  58078      Gold
  58079    Silver
  58080      Gold
  58081    Silver
  Name: PURCHASED, Length: 139, dtype: object), ('Florida', 20172      Silver
  20173        Gold
  20174      Silver
  20175      Silver
  20176      Silver
  20177      Silver
  20178      Silver
  20237        Gold
  20238        Gold
  20239      Silver
  20240      Silver
  20241      Silver
  20242      Silver
  20299      Silver
  20300      Silver
  20301      Silver
  20302      Silver
  20303        Gold
  20304        Gold
  20305      Silver
  20306      Silver
  20307        Gold
  20308      Silver
  20309        Gold
  20310      Silver
  20311        Gold
  20312        Gold
  20313      Silver
  20314      Silver
  20370      Silver
             ...
  90413      Silver
  90414      Silver
  90415      Silver
  90416      Silver
  90417    Platinum
  90418      Silver
  90419        Gold
  90420        Gold
  90421      Silver
  90422      Silver
  90423      Silver
  90424        Gold
  90425      Bronze
  90426      Silver
  90427      Bronze
  90428      Silver
  90429      Bronze
  90430      Bronze
  90431      Silver
  90432      Bronze
  90433      Bronze
  90434      Silver
  90435        Gold
  90436      Silver
  90437      Bronze
  90438      Bronze
  90439    Platinum
  90440    Platinum
  90441      Silver
  90442      Silver
  Name: PURCHASED, Length: 6145, dtype: object), ('Georgia', 20179      Silver
  20180      Silver
  20181        Gold
  20182      Silver
  20183        Gold
  20243        Gold
  20244      Silver
  20245      Silver
  20246      Silver
  20247      Silver
  20248      Silver
  20249        Gold
  20250      Silver
  20315        Gold
  20316      Silver
  20317        Gold
  20318      Silver
  20378      Silver
  20379      Silver
  20380        Gold
  20381        Gold
  20436        Gold
  20437      Silver
  20438      Silver
  20439      Silver
  20440      Silver
  20503      Silver
  20504        Gold
  20505      Silver
  20506      Silver
             ...
  90855        Gold
  90856    Platinum
  90857        Gold
  90858      Silver
  90859      Silver
  90860      Silver
  90861      Bronze
  90862      Silver
  90863    Platinum
  90864      Silver
  90865      Silver
  90866    Platinum
  90867      Bronze
  90868        Gold
  90869      Bronze
  90870    Platinum
  90871      Silver
  90872      Silver
  90873      Silver
  90874      Bronze
  90875      Silver
  90876      Silver
  90877      Silver
  90878        Gold
  90879    Platinum
  90880      Bronze
  90881        Gold
  90882      Bronze
  90883      Silver
  90884      Silver
  Name: PURCHASED, Length: 3605, dtype: object), ('Hawaii', 439      Silver
  440      Silver
  441      Silver
  442      Silver
  443      Silver
  444      Silver
  445      Silver
  446      Silver
  447      Silver
  448      Silver
  449      Silver
  450      Silver
  451      Silver
  452        Gold
  453      Silver
  454      Silver
  455        Gold
  456      Silver
  457      Silver
  458        Gold
  1581     Silver
  1582       Gold
  1583       Gold
  1584       Gold
  1585     Silver
  1586     Silver
  1587     Silver
  1588     Silver
  1589     Silver
  1590     Silver
            ...
  63163      Gold
  63164    Silver
  63165    Silver
  63166    Silver
  63167      Gold
  63168      Gold
  63169      Gold
  63170      Gold
  64276      Gold
  64277    Silver
  64278    Silver
  64279    Silver
  64280    Silver
  64281    Silver
  64282    Silver
  64283    Silver
  64284    Silver
  64285      Gold
  64286    Silver
  64287    Silver
  64288    Silver
  65394    Silver
  65395    Silver
  65396      Gold
  65397    Silver
  65398    Silver
  65399    Silver
  65400      Gold
  65401    Silver
  65402    Silver
  Name: PURCHASED, Length: 384, dtype: object), ('Idaho', 561      Silver
  562      Silver
  563        Gold
  564        Gold
  565      Silver
  566      Silver
  567      Silver
  568      Silver
  569        Gold
  570      Silver
  571      Silver
  572        Gold
  573      Silver
  574      Silver
  575      Silver
  576      Silver
  577      Silver
  578      Silver
  579      Silver
  580      Silver
  581      Silver
  582      Silver
  583      Silver
  584        Gold
  585      Silver
  586      Silver
  587      Silver
  588      Silver
  589      Silver
  590      Silver
            ...
  65510    Silver
  65511    Silver
  65512    Silver
  65513    Silver
  65514    Silver
  65515      Gold
  65516      Gold
  65517    Silver
  65518    Silver
  65519    Silver
  65520      Gold
  65521    Silver
  65522      Gold
  65523    Silver
  65524    Silver
  65525    Silver
  65526    Silver
  65527      Gold
  65528    Silver
  65529    Silver
  65530    Silver
  65531      Gold
  65532    Silver
  65533      Gold
  65534      Gold
  65535    Silver
  65536    Silver
  65537      Gold
  65538      Gold
  65539    Silver
  Name: PURCHASED, Length: 965, dtype: object), ('Illinois', 20184      Silver
  20185      Silver
  20186        Gold
  20187      Silver
  20188      Silver
  20189      Silver
  20190        Gold
  20251        Gold
  20252        Gold
  20253      Silver
  20254        Gold
  20255      Silver
  20256      Silver
  20257      Silver
  20258      Silver
  20259      Silver
  20260      Silver
  20261      Silver
  20319      Silver
  20320      Silver
  20321      Silver
  20322      Silver
  20323      Silver
  20324      Silver
  20325      Silver
  20382      Silver
  20383      Silver
  20384      Silver
  20385      Silver
  20386      Silver
             ...
  91612    Platinum
  91613        Gold
  91614      Bronze
  91615        Gold
  91616        Gold
  91617      Bronze
  91618        Gold
  91619        Gold
  91620      Silver
  91621        Gold
  91622      Bronze
  91623      Silver
  91624        Gold
  91625      Bronze
  91626      Silver
  91627      Silver
  91628      Bronze
  91629      Bronze
  91630      Bronze
  91631      Silver
  91632    Platinum
  91633      Silver
  91634      Bronze
  91635      Silver
  91636        Gold
  91637      Bronze
  91638      Bronze
  91639      Silver
  91640        Gold
  91641      Silver
  Name: PURCHASED, Length: 5568, dtype: object), ('Indiana', 44278    Silver
  44279    Silver
  44280    Silver
  44281      Gold
  44282      Gold
  44283    Silver
  44284    Silver
  44285    Silver
  44286    Silver
  44287    Silver
  44288    Silver
  44289    Silver
  44290      Gold
  44291    Silver
  44292      Gold
  44293    Silver
  44294    Silver
  44295    Silver
  44296    Silver
  44297    Silver
  44298    Silver
  44299      Gold
  44300    Silver
  44301      Gold
  44302    Silver
  44303      Gold
  44304    Silver
  44305    Silver
  44306    Silver
  44307    Silver
            ...
  58122    Silver
  58123    Silver
  58124      Gold
  58125      Gold
  58126    Silver
  58127    Silver
  58128      Gold
  58129    Silver
  58130    Silver
  58131    Silver
  58132    Silver
  58133    Silver
  58134    Silver
  58135      Gold
  58136    Silver
  58137      Gold
  58138    Silver
  58139    Silver
  58140    Silver
  58141    Silver
  58142    Silver
  58143    Silver
  58144      Gold
  58145    Silver
  58146    Silver
  58147      Gold
  58148    Silver
  58149      Gold
  58150    Silver
  58151    Silver
  Name: PURCHASED, Length: 508, dtype: object), ('Iowa', 459      Silver
  460      Silver
  461      Silver
  462        Gold
  463      Silver
  464      Silver
  465      Silver
  466        Gold
  467      Silver
  468      Silver
  469      Silver
  470        Gold
  471      Silver
  472        Gold
  473      Silver
  474      Silver
  475      Silver
  476      Silver
  477        Gold
  478      Silver
  479      Silver
  480      Silver
  481      Silver
  482        Gold
  483      Silver
  484      Silver
  485      Silver
  486      Silver
  487      Silver
  488      Silver
            ...
  65474    Silver
  65475    Silver
  65476    Silver
  65477    Silver
  65478    Silver
  65479    Silver
  65480    Silver
  65481    Silver
  65482      Gold
  65483    Silver
  65484    Silver
  65485    Silver
  65486    Silver
  65487      Gold
  65488    Silver
  65489      Gold
  65490    Silver
  65491    Silver
  65492    Silver
  65493    Silver
  65494      Gold
  65495    Silver
  65496    Silver
  65497    Silver
  65498    Silver
  65499    Silver
  65500    Silver
  65501    Silver
  65502      Gold
  65503      Gold
  Name: PURCHASED, Length: 3037, dtype: object), ('Kansas', 20191      Silver
  20192        Gold
  20193      Silver
  20194      Silver
  20195      Silver
  20262      Silver
  20263        Gold
  20326      Silver
  20327        Gold
  20328        Gold
  20387        Gold
  20388        Gold
  20455      Silver
  20519        Gold
  20520      Silver
  20521      Silver
  20522        Gold
  20523      Silver
  20595      Silver
  20596      Silver
  20597      Silver
  20598      Silver
  20599        Gold
  20600      Silver
  20756      Silver
  20757      Bronze
  20758        Gold
  20759      Bronze
  20760      Silver
  20761      Silver
             ...
  91966        Gold
  91967        Gold
  91968      Silver
  91969    Platinum
  91970      Silver
  91971      Bronze
  91972        Gold
  91973        Gold
  91974      Silver
  91975      Bronze
  91976      Silver
  91977      Silver
  91978      Silver
  91979      Silver
  91980        Gold
  91981    Platinum
  91982      Silver

In [123]:
group_insurance_by_state.describe()

                      count unique     top  freq
state
Alabama                3484      4  Silver  1783
Alaska                  754      2  Silver   564
Arizona                1491      2  Silver  1084
Arkansas               2725      4  Silver  1437
California             7474      2  Silver  5523
Colorado               1789      2  Silver  1336
Connecticut             234      2  Silver   162
Delaware                 57      2  Silver    38
District of Columbia    139      2  Silver   103
Florida                6145      4  Silver  3181
Georgia                3605      4  Silver  1917
Hawaii                  384      2  Silver   300
Idaho                   965      2  Silver   713
Illinois               5568      4  Silver  2993
Indiana                 508      2  Silver   373
Iowa                   3037      2  Silver  2286
Kansas                 3176      4  Silver  1694
Kentucky                413      2  Silver   291
Louisiana              3051      4  Silver  1595
Maine                   229      2  Silver   171
Maryland                279      2  Silver   213
Massachusetts           335      2  Silver   253
Michigan                446      2  Silver   327
Minnesota              2850      2  Silver  2119
Mississippi            1956      4  Silver  1065
Missouri               5032      4  Silver  2618
Montana                1158      2  Silver   837
Nebraska               2464      4  Silver  1313
Nevada                  708      2  Silver   515
New Hampshire           106      2  Silver    78
New Jersey              292      2  Silver   214
New Mexico             1184      2  Silver   869
New York               1084      2  Silver   782
North Carolina          413      2  Silver   308
North Dakota           1125      2  Silver   827
Ohio                    688      2  Silver   521
Oklahoma               3212      4  Silver  1660
Oregon                 1301      2  Silver   953
Pennsylvania            942      2  Silver   690
Rhode Island             31      2  Silver    26
South Carolina          205      2  Silver   146
South Dakota           1082      2  Silver   779
Tennessee              3154      4  Silver  1654
Texas                 10410      4  Silver  5340
Utah                    984      2  Silver   726
Vermont                 151      2  Silver   108
Virginia                532      2  Silver   393
Washington             2020      2  Silver  1480
West Virginia           460      2  Silver   338
Wisconsin              2462      2  Silver  1820
Wyoming                 551      2  Silver   405

In [110]:
# bd_json = joined_bd_df.to_json(orient='records')

In [111]:
# with open('basic_decision_combined.json', 'w') as f:
#     f.write(bd_json)

In [132]:
for item in list(group_insurance_by_state)[:10]:
    print(type(item))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [133]:
len(list(group_insurance_by_state))

51

In [150]:
bd_series = pd.Series(list(group_insurance_by_state))

In [153]:
bd_series

0     (Alabama, [Gold, Silver, Silver, Silver, Silve...
1     (Alaska, [Silver, Silver, Gold, Silver, Gold, ...
2     (Arizona, [Silver, Gold, Gold, Silver, Silver,...
3     (Arkansas, [Silver, Gold, Silver, Gold, Silver...
4     (California, [Silver, Silver, Silver, Silver, ...
5     (Colorado, [Gold, Silver, Silver, Silver, Gold...
6     (Connecticut, [Silver, Silver, Gold, Gold, Gol...
7     (Delaware, [Silver, Silver, Silver, Silver, Go...
8     (District of Columbia, [Silver, Gold, Gold, Si...
9     (Florida, [Silver, Gold, Silver, Silver, Silve...
10    (Georgia, [Silver, Silver, Gold, Silver, Gold,...
11    (Hawaii, [Silver, Silver, Silver, Silver, Silv...
12    (Idaho, [Silver, Silver, Gold, Gold, Silver, S...
13    (Illinois, [Silver, Silver, Gold, Silver, Silv...
14    (Indiana, [Silver, Silver, Silver, Gold, Gold,...
15    (Iowa, [Silver, Silver, Silver, Gold, Silver, ...
16    (Kansas, [Silver, Gold, Silver, Silver, Silver...
17    (Kentucky, [Silver, Gold, Silver, Gold, Silver...
18    (Louisiana, [Silver, Silver, Gold, Gold, Silve...
19    (Maine, [Silver, Silver, Gold, Silver, Silver,...
20    (Maryland, [Gold, Gold, Gold, Gold, Silver, Si...
21    (Massachusetts, [Gold, Silver, Gold, Silver, G...
22    (Michigan, [Silver, Silver, Gold, Gold, Silver...
23    (Minnesota, [Silver, Silver, Silver, Gold, Sil...
24    (Mississippi, [Silver, Gold, Silver, Silver, S...
25    (Missouri, [Silver, Silver, Silver, Silver, Si...
26    (Montana, [Gold, Silver, Silver, Silver, Gold,...
27    (Nebraska, [Silver, Silver, Silver, Silver, Si...
28    (Nevada, [Silver, Silver, Gold, Silver, Silver...
29    (New Hampshire, [Gold, Gold, Silver, Gold, Sil...
30    (New Jersey, [Gold, Gold, Silver, Gold, Silver...
31    (New Mexico, [Gold, Silver, Silver, Silver, Si...
32    (New York, [Silver, Silver, Gold, Silver, Silv...
33    (North Carolina, [Gold, Silver, Gold, Silver, ...
34    (North Dakota, [Silver, Silver, Silver, Gold, ...
35    (Ohio, [Gold, Gold, Silver, Silver, Silver, Si...
36    (Oklahoma, [Silver, Silver, Silver, Silver, Si...
37    (Oregon, [Gold, Gold, Silver, Silver, Gold, Si...
38    (Pennsylvania, [Silver, Silver, Gold, Silver, ...
39    (Rhode Island, [Silver, Silver, Silver, Silver...
40    (South Carolina, [Silver, Silver, Silver, Gold...
41    (South Dakota, [Silver, Silver, Silver, Silver...
42    (Tennessee, [Gold, Gold, Silver, Silver, Silve...
43    (Texas, [Silver, Silver, Gold, Gold, Silver, S...
44    (Utah, [Silver, Silver, Gold, Silver, Gold, Go...
45    (Vermont, [Silver, Gold, Gold, Silver, Gold, G...
46    (Virginia, [Silver, Gold, Gold, Silver, Silver...
47    (Washington, [Silver, Silver, Silver, Gold, Go...
48    (West Virginia, [Gold, Gold, Silver, Gold, Sil...
49    (Wisconsin, [Silver, Silver, Silver, Silver, S...
50    (Wyoming, [Silver, Silver, Silver, Gold, Silve...
dtype: object

In [154]:
help(bd_series)

Help on Series in module pandas.core.series object:

class Series(pandas.core.base.IndexOpsMixin, pandas.core.strings.StringAccessorMixin, pandas.core.generic.NDFrame)
 |  One-dimensional ndarray with axis labels (including time series).
 |
 |  Labels need not be unique but must be a hashable type. The object
 |  supports both integer- and label-based indexing and provides a host of
 |  methods for performing operations involving the index. Statistical
 |  methods from ndarray have been overridden to automatically exclude
 |  missing data (currently represented as NaN).
 |
 |  Operations between Series (+, -, /, *, **) align values based on their
 |  associated index values-- they need not be the same length. The result
 |  index will be the sorted union of the two indexes.
 |
 |  Parameters
 |  ----------
 |  data : array-like, dict, or scalar value
 |      Contains data stored in Series
 |  index : array-like or Index (1d)
 |      Values must be hashable and have the same length as `data`.
 |      Non-unique index values are allowed. Will default to
 |      RangeIndex(len(data)) if not provided. If both a dict and index
 |      sequence are used, the index will override the keys found in the
 |      dict.
 |  dtype : numpy.dtype or None
 |      If None, dtype will be inferred
 |  copy : boolean, default False
 |      Copy input data
 |
 |  Method resolution order:
 |      Series
 |      pandas.core.base.IndexOpsMixin
 |      pandas.core.strings.StringAccessorMixin
 |      pandas.core.generic.NDFrame
 |      pandas.core.base.PandasObject
 |      pandas.core.base.StringMixin
 |      pandas.core.base.SelectionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __add__ = wrapper(left, right, name='__add__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x119a5bf28>)
 |
 |  __and__ = wrapper(self, other)
 |
 |  __array__(self, result=None)
 |      the array interface, return my values
 |
 |  __array_prepare__(self, result, context=None)
 |      Gets called prior to a ufunc
 |
 |  __array_wrap__(self, result, context=None)
 |      Gets called after a ufunc
 |
 |  __div__ = wrapper(left, right, name='__truediv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x119a5c6a8>)
 |
 |  __divmod__ = wrapper(left, right, name='__divmod__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x119a618c8>)
 |
 |  __eq__ = wrapper(self, other, axis=None)
 |
 |  __float__ = wrapper(self)
 |
 |  __floordiv__ = wrapper(left, right, name='__floordiv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x119a5c840>)
 |
 |  __ge__ = wrapper(self, other, axis=None)
 |
 |  __getitem__(self, key)
 |
 |  __gt__ = wrapper(self, other, axis=None)
 |
 |  __iadd__ = f(self, other)
 |
 |  __imul__ = f(self, other)
 |
 |  __init__(self, data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __int__ = wrapper(self)
 |
 |  __ipow__ = f(self, other)
 |
 |  __isub__ = f(self, other)
 |
 |  __iter__(self)
 |      provide iteration over the values of the Series
 |      box values if necessary
 |
 |  __itruediv__ = f(self, other)
 |
 |  __le__ = wrapper(self, other, axis=None)
 |
 |  __len__(self)
 |      return the length of the Series
 |
 |  __long__ = wrapper(self)
 |
 |  __lt__ = wrapper(self, other, axis=None)
 |
 |  __mod__ = wrapper(left, right, name='__mod__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x119a5c9d8>)
 |
 |  __mul__ = wrapper(left, right, name='__mul__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x119a5c510>)
 |
 |  __ne__ = wrapper(self, other, axis=None)
 |
 |  __or__ = wrapper(self, other)
 |
 |  __pow__ = wrapper(left, right, name='__pow__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x119a5cb70>)
 |
 |  __radd__ = wrapper(left, right, name='__radd__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x119a5c1e0>)
 |
 |  __rand__ = wrapper(self, other)
 |
 |  __rdiv__ = wrapper(left, right, name='__rtruediv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x119a5e1e0>)
 |
 |  __rfloordiv__ = wrapper(left, right, name='__rfloordiv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x119a5e400>)
 |
 |  __rmod__ = wrapper(left, right, name='__rmod__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x119a5e840>)
 |
 |  __rmul__ = wrapper(left, right, name='__rmul__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x119a5cd08>)
 |
 |  __ror__ = wrapper(self, other)
 |
 |  __rpow__ = wrapper(left, right, name='__rpow__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x119a5e620>)
 |
 |  __rsub__ = wrapper(left, right, name='__rsub__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x119a5cf28>)
 |
 |  __rtruediv__ = wrapper(left, right, name='__rtruediv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x119a5e1e0>)
 |
 |  __rxor__ = wrapper(self, other)
 |
 |  __setitem__(self, key, value)
 |
 |  __sub__ = wrapper(left, right, name='__sub__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x119a5c378>)
 |
 |  __truediv__ = wrapper(left, right, name='__truediv__', na_op=<function _arith_method_SERIES.<locals>.na_op at 0x119a5c6a8>)
 |
 |  __unicode__(self)
 |      Return a string representation for a particular DataFrame
 |
 |      Invoked by unicode(df) in py2 only. Yields a Unicode String in both
 |      py2/py3.
 |
 |  __xor__ = wrapper(self, other)
 |
 |  add(self, other, level=None, fill_value=None, axis=0)
 |      Addition of series and other, element-wise (binary operator `add`).
 |
 |      Equivalent to ``series + other``, but with support to substitute a fill_value for
 |      missing data in one of the inputs.
 |
 |      Parameters
 |      ----------
 |      other : Series or scalar value
 |      fill_value : None or float value, default None (NaN)
 |          Fill missing (NaN) values with this value. If both Series are
 |          missing, the result will be missing
 |      level : int or name
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |
 |      Returns
 |      -------
 |      result : Series
 |
 |      See also
 |      --------
 |      Series.radd
 |
 |  agg = aggregate(self, func, axis=0, *args, **kwargs)
 |
 |  aggregate(self, func, axis=0, *args, **kwargs)
 |      Aggregate using callable, string, dict, or list of string/callables
 |
 |      .. versionadded:: 0.20.0
 |
 |      Parameters
 |      ----------
 |      func : callable, string, dictionary, or list of string/callables
 |          Function to use for aggregating the data. If a function, must either
 |          work when passed a Series or when passed to Series.apply. For
 |          a DataFrame, can pass a dict, if the keys are DataFrame column names.
 |
 |          Accepted Combinations are:
 |
 |          - string function name
 |          - function
 |          - list of functions
 |          - dict of column names -> functions (or list of functions)
 |
 |      Notes
 |      -----
 |      Numpy functions mean/median/prod/sum/std/var are special cased so the
 |      default behavior is applying the function along axis=0
 |      (e.g., np.mean(arr_2d, axis=0)) as opposed to
 |      mimicking the default Numpy behavior (e.g., np.mean(arr_2d)).
 |
 |      agg is an alias for aggregate. Use it.
 |
 |      Returns
 |      -------
 |      aggregated : Series
 |
 |      Examples
 |      --------
 |
 |      >>> s = Series(np.random.randn(10))
 |
 |      >>> s.agg('min')
 |      -1.3018049988556679
 |
 |      >>> s.agg(['min', 'max'])
 |      min   -1.301805
 |      max    1.127688
 |      dtype: float64
 |
 |      See also
 |      --------
 |      pandas.Series.apply
 |      pandas.Series.transform
 |
 |  align(self, other, join='outer', axis=None, level=None, copy=True, fill_value=None, method=None, limit=None, fill_axis=0, broadcast_axis=None)
 |      Align two object on their axes with the
 |      specified join method for each axis Index
 |
 |      Parameters
 |      ----------
 |      other : DataFrame or Series
 |      join : {'outer', 'inner', 'left', 'right'}, default 'outer'
 |      axis : allowed axis of the other object, default None
 |          Align on index (0), columns (1), or both (None)
 |      level : int or level name, default None
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level
 |      copy : boolean, default True
 |          Always returns new objects. If copy=False and no reindexing is
 |          required then original objects are returned.
 |      fill_value : scalar, default np.NaN
 |          Value to use for missing values. Defaults to NaN, but can be any
 |          "compatible" value
 |      method : str, default None
 |      limit : int, default None
 |      fill_axis : {0, 'index'}, default 0
 |          Filling axis, method and limit
 |      broadcast_axis : {0, 'index'}, default None
 |          Broadcast values along this axis, if aligning two objects of
 |          different dimensions
 |
 |          .. versionadded:: 0.17.0
 |
 |      Returns
 |      -------
 |      (left, right) : (Series, type of other)
 |          Aligned objects
 |
 |  all(self, axis=None, bool_only=None, skipna=None, level=None, **kwargs)
 |      Return whether all elements are True over requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0)}
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a scalar
 |      bool_only : boolean, default None
 |          Include only boolean columns. If None, will attempt to use everything,
 |          then use only boolean data. Not implemented for Series.
 |
 |      Returns
 |      -------
 |      all : scalar or Series (if level specified)
 |
 |  any(self, axis=None, bool_only=None, skipna=None, level=None, **kwargs)
 |      Return whether any element is True over requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0)}
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a scalar
 |      bool_only : boolean, default None
 |          Include only boolean columns. If None, will attempt to use everything,
 |          then use only boolean data. Not implemented for Series.
 |
 |      Returns
 |      -------
 |      any : scalar or Series (if level specified)
 |
 |  append(self, to_append, ignore_index=False, verify_integrity=False)
 |      Concatenate two or more Series.
 |
 |      Parameters
 |      ----------
 |      to_append : Series or list/tuple of Series
 |      ignore_index : boolean, default False
 |          If True, do not use the index labels.
 |
 |          .. versionadded: 0.19.0
 |
 |      verify_integrity : boolean, default False
 |          If True, raise Exception on creating index with duplicates
 |
 |      Returns
 |      -------
 |      appended : Series
 |
 |      Examples
 |      --------
 |      >>> s1 = pd.Series([1, 2, 3])
 |      >>> s2 = pd.Series([4, 5, 6])
 |      >>> s3 = pd.Series([4, 5, 6], index=[3,4,5])
 |      >>> s1.append(s2)
 |      0    1
 |      1    2
 |      2    3
 |      0    4
 |      1    5
 |      2    6
 |      dtype: int64
 |
 |      >>> s1.append(s3)
 |      0    1
 |      1    2
 |      2    3
 |      3    4
 |      4    5
 |      5    6
 |      dtype: int64
 |
 |      With `ignore_index` set to True:
 |
 |      >>> s1.append(s2, ignore_index=True)
 |      0    1
 |      1    2
 |      2    3
 |      3    4
 |      4    5
 |      5    6
 |      dtype: int64
 |
 |      With `verify_integrity` set to True:
 |
 |      >>> s1.append(s2, verify_integrity=True)
 |      Traceback (most recent call last):
 |      ...
 |      ValueError: Indexes have overlapping values: [0, 1, 2]
 |
 |  apply(self, func, convert_dtype=True, args=(), **kwds)
 |      Invoke function on values of Series. Can be ufunc (a NumPy function
 |      that applies to the entire Series) or a Python function that only works
 |      on single values
 |
 |      Parameters
 |      ----------
 |      func : function
 |      convert_dtype : boolean, default True
 |          Try to find better dtype for elementwise function results. If
 |          False, leave as dtype=object
 |      args : tuple
 |          Positional arguments to pass to function in addition to the value
 |      Additional keyword arguments will be passed as keywords to the function
 |
 |      Returns
 |      -------
 |      y : Series or DataFrame if func returns a Series
 |
 |      See also
 |      --------
 |      Series.map: For element-wise operations
 |      Series.agg: only perform aggregating type operations
 |      Series.transform: only perform transformating type operations
 |
 |      Examples
 |      --------
 |
 |      Create a series with typical summer temperatures for each city.
 |
 |      >>> import pandas as pd
 |      >>> import numpy as np
 |      >>> series = pd.Series([20, 21, 12], index=['London',
 |      ... 'New York','Helsinki'])
 |      >>> series
 |      London      20
 |      New York    21
 |      Helsinki    12
 |      dtype: int64
 |
 |      Square the values by defining a function and passing it as an
 |      argument to ``apply()``.
 |
 |      >>> def square(x):
 |      ...     return x**2
 |      >>> series.apply(square)
 |      London      400
 |      New York    441
 |      Helsinki    144
 |      dtype: int64
 |
 |      Square the values by passing an anonymous function as an
 |      argument to ``apply()``.
 |
 |      >>> series.apply(lambda x: x**2)
 |      London      400
 |      New York    441
 |      Helsinki    144
 |      dtype: int64
 |
 |      Define a custom function that needs additional positional
 |      arguments and pass these additional arguments using the
 |      ``args`` keyword.
 |
 |      >>> def subtract_custom_value(x, custom_value):
 |      ...     return x-custom_value
 |
 |      >>> series.apply(subtract_custom_value, args=(5,))
 |      London      15
 |      New York    16
 |      Helsinki     7
 |      dtype: int64
 |
 |      Define a custom function that takes keyword arguments
 |      and pass these arguments to ``apply``.
 |
 |      >>> def add_custom_values(x, **kwargs):
 |      ...     for month in kwargs:
 |      ...         x+=kwargs[month]
 |      ...         return x
 |
 |      >>> series.apply(add_custom_values, june=30, july=20, august=25)
 |      London      95
 |      New York    96
 |      Helsinki    87
 |      dtype: int64
 |
 |      Use a function from the Numpy library.
 |
 |      >>> series.apply(np.log)
 |      London      2.995732
 |      New York    3.044522
 |      Helsinki    2.484907
 |      dtype: float64
 |
 |  argmax = idxmax(self, axis=None, skipna=True, *args, **kwargs)
 |
 |  argmin = idxmin(self, axis=None, skipna=True, *args, **kwargs)
 |
 |  argsort(self, axis=0, kind='quicksort', order=None)
 |      Overrides ndarray.argsort. Argsorts the value, omitting NA/null values,
 |      and places the result in the same locations as the non-NA values
 |
 |      Parameters
 |      ----------
 |      axis : int (can only be zero)
 |      kind : {'mergesort', 'quicksort', 'heapsort'}, default 'quicksort'
 |          Choice of sorting algorithm. See np.sort for more
 |          information. 'mergesort' is the only stable algorithm
 |      order : ignored
 |
 |      Returns
 |      -------
 |      argsorted : Series, with -1 indicated where nan values are present
 |
 |      See also
 |      --------
 |      numpy.ndarray.argsort
 |
 |  autocorr(self, lag=1)
 |      Lag-N autocorrelation
 |
 |      Parameters
 |      ----------
 |      lag : int, default 1
 |          Number of lags to apply before performing autocorrelation.
 |
 |      Returns
 |      -------
 |      autocorr : float
 |
 |  between(self, left, right, inclusive=True)
 |      Return boolean Series equivalent to left <= series <= right. NA values
 |      will be treated as False
 |
 |      Parameters
 |      ----------
 |      left : scalar
 |          Left boundary
 |      right : scalar
 |          Right boundary
 |
 |      Returns
 |      -------
 |      is_between : Series
 |
 |  combine(self, other, func, fill_value=nan)
 |      Perform elementwise binary operation on two Series using given function
 |      with optional fill value when an index is missing from one Series or
 |      the other
 |
 |      Parameters
 |      ----------
 |      other : Series or scalar value
 |      func : function
 |      fill_value : scalar value
 |
 |      Returns
 |      -------
 |      result : Series
 |
 |  combine_first(self, other)
 |      Combine Series values, choosing the calling Series's values
 |      first. Result index will be the union of the two indexes
 |
 |      Parameters
 |      ----------
 |      other : Series
 |
 |      Returns
 |      -------
 |      y : Series
 |
 |  compound(self, axis=None, skipna=None, level=None)
 |      Return the compound percentage of the values for the requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0)}
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a scalar
 |      numeric_only : boolean, default None
 |          Include only float, int, boolean columns. If None, will attempt to use
 |          everything, then use only numeric data. Not implemented for Series.
 |
 |      Returns
 |      -------
 |      compounded : scalar or Series (if level specified)
 |
 |  compress(self, condition, *args, **kwargs)
 |      Return selected slices of an array along given axis as a Series
 |
 |      See also
 |      --------
 |      numpy.ndarray.compress
 |
 |  corr(self, other, method='pearson', min_periods=None)
 |      Compute correlation with `other` Series, excluding missing values
 |
 |      Parameters
 |      ----------
 |      other : Series
 |      method : {'pearson', 'kendall', 'spearman'}
 |          * pearson : standard correlation coefficient
 |          * kendall : Kendall Tau correlation coefficient
 |          * spearman : Spearman rank correlation
 |      min_periods : int, optional
 |          Minimum number of observations needed to have a valid result
 |
 |
 |      Returns
 |      -------
 |      correlation : float
 |
 |  count(self, level=None)
 |      Return number of non-NA/null observations in the Series
 |
 |      Parameters
 |      ----------
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a smaller Series
 |
 |      Returns
 |      -------
 |      nobs : int or Series (if level specified)
 |
 |  cov(self, other, min_periods=None)
 |      Compute covariance with Series, excluding missing values
 |
 |      Parameters
 |      ----------
 |      other : Series
 |      min_periods : int, optional
 |          Minimum number of observations needed to have a valid result
 |
 |      Returns
 |      -------
 |      covariance : float
 |
 |      Normalized by N-1 (unbiased estimator).
 |
 |  cummax(self, axis=None, skipna=True, *args, **kwargs)
 |      Return cumulative max over requested axis.
 |
 |      Parameters
 |      ----------
 |      axis : {index (0)}
 |      skipna : boolean, default True

In [179]:
bd_series[0][1]

20167        Gold
20168      Silver
20229      Silver
20230      Silver
20231      Silver
20294        Gold
20295      Silver
20296      Silver
20365      Silver
20366      Silver
20486      Silver
20487      Silver
20488        Gold
20489      Silver
20490      Silver
20572        Gold
20573      Silver
20574      Silver
20687      Silver
20688      Silver
20689      Silver
20690      Silver
20691      Silver
20692      Silver
20693      Bronze
20694      Silver
20695      Silver
20696      Silver
20697      Bronze
20698      Silver
           ...
89346      Bronze
89347        Gold
89348      Silver
89349      Silver
89350      Silver
89351      Bronze
89352        Gold
89353      Bronze
89354      Silver
89355      Silver
89356        Gold
89357      Bronze
89358      Bronze
89359        Gold
89360      Silver
89361        Gold
89362    Platinum
89363        Gold
89364      Bronze
89365      Silver
89366        Gold
89367      Silver
89368        Gold
89369    Platinum
89370      Silver
89371      Silver
89372      Silver
89373      Silver
89374        Gold
89375      Bronze
Name: PURCHASED, Length: 3484, dtype: object

In [205]:
states_dict = {'Alaska': 'AK', 'Alabama': 'AL', 'Arkansas': 'AR', 'American Samoa': 'AS', 'Arizona': 'AZ', 'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'District of Columbia': 'DC', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 'Guam': 'GU', 'Hawaii': 'HI', 'Iowa': 'IA', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Massachusetts': 'MA', 'Maryland': 'MD', 'Maine': 'ME', 'Michigan': 'MI', 'Minnesota': 'MN', 'Missouri': 'MO', 'Northern Mariana Islands': 'MP', 'Mississippi': 'MS', 'Montana': 'MT', 'National': 'NA', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Nebraska': 'NE', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'Nevada': 'NV', 'New York': 'NY', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Puerto Rico': 'PR', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Virginia': 'VA', 'Virgin Islands': 'VI', 'Vermont': 'VT', 'Washington': 'WA', 'Wisconsin': 'WI', 'West Virginia': 'WV', 'Wyoming': 'WY'}

In [206]:
def cal_percentages(series):
    state_dict = {}
    for state_Data in bd_series:
        len_state_users = len(state_Data[1])
        d = {"Platinum":0, "Gold":0, "Silver":0, "Bronze":0}
        for item in state_Data[1]:
            d[item] += 1
        for k,v in d.items():
            val = (v/len_state_users)*100
            d[k] = round(val,2)
        state_abbr = states_dict[state_Data[0]]
        state_dict[state_abbr] = d
    return state_dict

In [207]:
state_percentages = cal_percentages(bd_series)

In [212]:
state_percentages

{'AK': {'Bronze': 0.0, 'Gold': 25.2, 'Platinum': 0.0, 'Silver': 74.8},
 'AL': {'Bronze': 17.37, 'Gold': 26.38, 'Platinum': 5.08, 'Silver': 51.18},
 'AR': {'Bronze': 16.04, 'Gold': 25.91, 'Platinum': 5.32, 'Silver': 52.73},
 'AZ': {'Bronze': 0.0, 'Gold': 27.3, 'Platinum': 0.0, 'Silver': 72.7},
 'CA': {'Bronze': 0.0, 'Gold': 26.1, 'Platinum': 0.0, 'Silver': 73.9},
 'CO': {'Bronze': 0.0, 'Gold': 25.32, 'Platinum': 0.0, 'Silver': 74.68},
 'CT': {'Bronze': 0.0, 'Gold': 30.77, 'Platinum': 0.0, 'Silver': 69.23},
 'DC': {'Bronze': 0.0, 'Gold': 25.9, 'Platinum': 0.0, 'Silver': 74.1},
 'DE': {'Bronze': 0.0, 'Gold': 33.33, 'Platinum': 0.0, 'Silver': 66.67},
 'FL': {'Bronze': 16.37, 'Gold': 26.2, 'Platinum': 5.66, 'Silver': 51.77},
 'GA': {'Bronze': 15.76, 'Gold': 25.74, 'Platinum': 5.33, 'Silver': 53.18},
 'HI': {'Bronze': 0.0, 'Gold': 21.88, 'Platinum': 0.0, 'Silver': 78.12},
 'IA': {'Bronze': 0.0, 'Gold': 24.73, 'Platinum': 0.0, 'Silver': 75.27},
 'ID': {'Bronze': 0.0, 'Gold': 26.11, 'Platinum': 0.0, 'Silver': 73.89},
 'IL': {'Bronze': 15.37, 'Gold': 26.11, 'Platinum': 4.76, 'Silver': 53.75},
 'IN': {'Bronze': 0.0, 'Gold': 26.57, 'Platinum': 0.0, 'Silver': 73.43},
 'KS': {'Bronze': 15.71, 'Gold': 25.98, 'Platinum': 4.97, 'Silver': 53.34},
 'KY': {'Bronze': 0.0, 'Gold': 29.54, 'Platinum': 0.0, 'Silver': 70.46},
 'LA': {'Bronze': 17.14, 'Gold': 25.2, 'Platinum': 5.38, 'Silver': 52.28},
 'MA': {'Bronze': 0.0, 'Gold': 24.48, 'Platinum': 0.0, 'Silver': 75.52},
 'MD': {'Bronze': 0.0, 'Gold': 23.66, 'Platinum': 0.0, 'Silver': 76.34},
 'ME': {'Bronze': 0.0, 'Gold': 25.33, 'Platinum': 0.0, 'Silver': 74.67},
 'MI': {'Bronze': 0.0, 'Gold': 26.68, 'Platinum': 0.0, 'Silver': 73.32},
 'MN': {'Bronze': 0.0, 'Gold': 25.65, 'Platinum': 0.0, 'Silver': 74.35},
 'MO': {'Bronze': 16.83, 'Gold': 25.99, 'Platinum': 5.15, 'Silver': 52.03},
 'MS': {'Bronze': 14.93, 'Gold': 25.92, 'Platinum': 4.7, 'Silver': 54.45},
 'MT': {'Bronze': 0.0, 'Gold': 27.72, 'Platinum': 0.0, 'Silver': 72.28},
 'NC': {'Bronze': 0.0, 'Gold': 25.42, 'Platinum': 0.0, 'Silver': 74.58},
 'ND': {'Bronze': 0.0, 'Gold': 26.49, 'Platinum': 0.0, 'Silver': 73.51},
 'NE': {'Bronze': 16.03, 'Gold': 24.8, 'Platinum': 5.88, 'Silver': 53.29},
 'NH': {'Bronze': 0.0, 'Gold': 26.42, 'Platinum': 0.0, 'Silver': 73.58},
 'NJ': {'Bronze': 0.0, 'Gold': 26.71, 'Platinum': 0.0, 'Silver': 73.29},
 'NM': {'Bronze': 0.0, 'Gold': 26.6, 'Platinum': 0.0, 'Silver': 73.4},
 'NV': {'Bronze': 0.0, 'Gold': 27.26, 'Platinum': 0.0, 'Silver': 72.74},
 'NY': {'Bronze': 0.0, 'Gold': 27.86, 'Platinum': 0.0, 'Silver': 72.14},
 'OH': {'Bronze': 0.0, 'Gold': 24.27, 'Platinum': 0.0, 'Silver': 75.73},
 'OK': {'Bronze': 16.87, 'Gold': 25.84, 'Platinum': 5.6, 'Silver': 51.68},
 'OR': {'Bronze': 0.0, 'Gold': 26.75, 'Platinum': 0.0, 'Silver': 73.25},
 'PA': {'Bronze': 0.0, 'Gold': 26.75, 'Platinum': 0.0, 'Silver': 73.25},
 'RI': {'Bronze': 0.0, 'Gold': 16.13, 'Platinum': 0.0, 'Silver': 83.87},
 'SC': {'Bronze': 0.0, 'Gold': 28.78, 'Platinum': 0.0, 'Silver': 71.22},
 'SD': {'Bronze': 0.0, 'Gold': 28.0, 'Platinum': 0.0, 'Silver': 72.0},
 'TN': {'Bronze': 17.22, 'Gold': 24.7, 'Platinum': 5.64, 'Silver': 52.44},
 'TX': {'Bronze': 16.74, 'Gold': 26.06, 'Platinum': 5.9, 'Silver': 51.3},
 'UT': {'Bronze': 0.0, 'Gold': 26.22, 'Platinum': 0.0, 'Silver': 73.78},
 'VA': {'Bronze': 0.0, 'Gold': 26.13, 'Platinum': 0.0, 'Silver': 73.87},
 'VT': {'Bronze': 0.0, 'Gold': 28.48, 'Platinum': 0.0, 'Silver': 71.52},
 'WA': {'Bronze': 0.0, 'Gold': 26.73, 'Platinum': 0.0, 'Silver': 73.27},
 'WI': {'Bronze': 0.0, 'Gold': 26.08, 'Platinum': 0.0, 'Silver': 73.92},
 'WV': {'Bronze': 0.0, 'Gold': 26.52, 'Platinum': 0.0, 'Silver': 73.48},
 'WY': {'Bronze': 0.0, 'Gold': 26.5, 'Platinum': 0.0, 'Silver': 73.5}}

In [213]:
state_perc_StrObj = json.dumps(state_percentages)

In [214]:
with open("insurance_plan_by_state_data.json", 'w') as f:
    f.write(state_perc_StrObj)

In [217]:
state_percentages.keys()

dict_keys(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'])

In [219]:
json_states = ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
        "ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH",
        "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT",
        "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN",
        "WI", "MO", "AR", "OK", "KS", "LA", "VA"]

In [218]:
script_States = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

In [224]:
script_States.sort()

In [225]:
json_states.sort()

In [226]:
json_states

['AK',
 'AL',
 'AR',
 'AZ',
 'CA',
 'CO',
 'CT',
 'DC',
 'DE',
 'FL',
 'GA',
 'HI',
 'IA',
 'ID',
 'IL',
 'IN',
 'KS',
 'KY',
 'LA',
 'MA',
 'MD',
 'ME',
 'MI',
 'MN',
 'MO',
 'MS',
 'MT',
 'NC',
 'ND',
 'NE',
 'NH',
 'NJ',
 'NM',
 'NV',
 'NY',
 'OH',
 'OK',
 'OR',
 'PA',
 'RI',
 'SC',
 'SD',
 'TN',
 'TX',
 'UT',
 'VA',
 'VT',
 'WA',
 'WI',
 'WV',
 'WY']

In [227]:
json_states == script_States

True

In [228]:
for i in range(len(json_states)):
    print(json_states[i], script_States[i])

AK AK
AL AL
AR AR
AZ AZ
CA CA
CO CO
CT CT
DC DC
DE DE
FL FL
GA GA
HI HI
IA IA
ID ID
IL IL
IN IN
KS KS
KY KY
LA LA
MA MA
MD MD
ME ME
MI MI
MN MN
MO MO
MS MS
MT MT
NC NC
ND ND
NE NE
NH NH
NJ NJ
NM NM
NV NV
NY NY
OH OH
OK OK
OR OR
PA PA
RI RI
SC SC
SD SD
TN TN
TX TX
UT UT
VA VA
VT VT
WA WA
WI WI
WV WV
WY WY